[2017-04-16 04:05] #4246 closed, assigned to edburns

[2017-04-18 02:02] #4109 closed, assigned to glassfishrobot

[2017-04-21 11:27] javaserverfaces opened #4247 "ui:repeat child state saving depends on the source of the request"
State saving of components nested in ui:repeat behaves differently when it is caused by a partial Ajax triggered _inside_ the ui:repeat vs. a request outside the ui:repeat or a non-Ajax request (form submit).

Consider this basic ui:repeat loop:

[code]

test:stateSavingComponent is a composite component that contains two command links to update the component state (a counter):

[code]

The expect

[2017-04-26 13:20] javaserverfaces opened #4248 "h:inputText doesn't update it's 'value' attribute when updates applied to it"
While implementing own paginator for datatable and switching between pages with SAME number of rows the update is applied strictly on each table cell element i.e.:
[window] [Wed, 26 Apr 2017 13:01:09 GMT] applied updates >>
update["form:table:0:input"]: <input id="form:table:0:input" name="for....
This leads to incorrect state of h:inputText 'value' attribute which would be initial one. Real, live

[2017-04-27 03:22] #4247 closed, assigned to glassfishrobot

[2017-05-02 06:49] javaserverfaces opened #724 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:49] #724 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #1946 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #1946 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #1937 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #1937 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2015 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2015 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2016 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2016 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2018 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2018 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2428 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2428 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2432 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2432 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2437 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2437 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2583 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2583 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2636 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2636 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2643 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2643 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2657 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2657 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2719 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2719 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2728 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2728 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2748 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2748 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2764 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2764 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2808 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2808 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2817 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2817 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2841 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2841 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2816 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2816 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2818 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2818 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2819 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2819 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2820 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2820 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2839 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2839 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2840 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2840 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2853 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2853 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2860 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2860 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2920 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2920 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2921 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2921 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2922 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2922 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2999 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2999 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #2979 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #2979 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3051 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3051 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3064 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3064 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3080 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3080 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3109 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3109 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3142 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3142 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3144 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3144 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3145 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3145 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3146 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3146 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3159 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3159 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3167 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3167 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3169 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3169 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3208 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3208 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3214 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3214 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3268 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3268 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3318 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3318 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3340 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3340 closed, assigned to glassfishrobot

[2017-05-02 06:50] javaserverfaces opened #3354 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:50] #3354 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3530 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3530 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3725 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3725 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3762 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3762 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3841 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3841 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3851 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3851 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3892 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3892 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3897 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3897 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3900 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3900 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3855 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3855 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3882 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3882 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3895 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3895 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3924 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3924 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #3963 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #3963 closed, assigned to glassfishrobot

[2017-05-02 06:51] javaserverfaces opened #4108 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-05-02 06:51] #4108 closed, assigned to glassfishrobot

[2017-05-03 02:24] #4218 closed, assigned to glassfishrobot

[2017-05-03 02:26] #4215 closed, assigned to glassfishrobot

[2017-05-04 06:06] javaserverfaces commented on #4200
Reported by szuni

[2017-05-04 06:06] javaserverfaces commented on #4200
szuni said:
[code]
[code]
[code]

[2017-05-04 06:06] javaserverfaces commented on #4200
ren.zhijun.oracle said:
can you provide me a runnable reproducer?

[2017-05-04 06:06] javaserverfaces commented on #4200
szuni said:
Please place the provided .java and 2 .xhtmls from the comment above into a war and run it.
After you pushed second button and try to push third you can see our problem.

[2017-05-04 06:06] javaserverfaces commented on #4200
ren.zhijun.oracle said:
I have reproduced your issue:

1\. In the first request, the whole page is rendered to client, the button3's clientid is j_idt9, the button2 is not rendered;
2\. When Button1 is clicked, an AJAX request was sent, as response, only button 2's dom element was sent to client, and it's id is also j_idt9; so in the client side, Button2 and Button3 has equal client id(under the s

[2017-05-04 06:06] javaserverfaces commented on #4200
Was assigned to ren.zhijun.oracle

[2017-05-04 06:06] javaserverfaces commented on #4200
This issue was imported from java.net JIRA JAVASERVERFACES-4196

[2017-05-04 07:26] javaserverfaces commented on #4184
Reported by webelcomau

[2017-05-04 07:26] javaserverfaces commented on #4184
webelcomau said:
If (as reported under #4182) the "FIX" from #4111 does not work for 2.3.0-m06 anyway, **the JSF community may as well fix it properly once and for all in both 2.3.0-m06 AND 2.2.8.18**, and as soon as possible, which means provide a 2.2.8.19 that truly fixes it, even though 2.2.8.18 was just released recently.

Otherwise, web apps designed to be "stable" against 2.2.8.18 will have

[2017-05-04 07:26] javaserverfaces commented on #4184
This issue was imported from java.net JIRA JAVASERVERFACES-4180

[2017-05-04 13:01] #4183 closed

[2017-05-16 11:16] kalgon commented on #3943
Could this be re-examined please? The bug is still present in the current version.

`ScopedAttributeELResolver` should always call `getViewMap(false)`/`getSessionMap(false)` (instead of `getViewMap()`/`getSessionMap()`) in `setValue()` and `getValue()` so that it won't inadvertently create a view/session scope.

[2017-05-21 15:04] BalusC opened #4249 "FacesContext#setViewRoot() should not clear RENDERED_RESOURCE_DEPENDENCIES during a non-@all partial request"
Currently, `FacesContext#setViewRoot()` calls `RequestStateManager#clearAttributesOnChangeOfView()` when a view has been changed. However, when `PartialViewContext#isAjaxRequest()` returns `true` and `PartialViewContext#isRenderAll()` returns `false`, then it should not clear context attribute `RENDERED_RESOURCE_DEPENDENCIES` as it will otherwise cause `ResourceHandler#isResourceRendered()` to fal

[2017-05-24 14:32] arjantijms commented on #4244
@xinyuan-zhang @ren-zhijun-oracle

Gave this a brief glance with @BalusC and it looks like the following check is missing for the  new delete case:

[code]

Was that intentional or just forgotten?

[2017-05-30 20:52] kito99 opened #4250 "Download link on https://javaserverfaces.github.io/ is broken"
I would submit a pull request but I have no idea where the proper download link for old binaries is...

The link on https://javaserverfaces.github.io/users.html is incorrect as well...

[2017-05-30 23:27] ngriffin7a commented on #4250
FYI, just wanted to mention that downloads are also listed on the Spec level page: https://javaee.github.io/javaserverfaces-spec/

[2017-05-30 23:44] arjantijms commented on #4250
Hi,

A chronic lack of time prevented me to look at the Mojarra homepage
earlier, but should do it soon. There's a couple of more errors, and
everything seems to have gone back a couple of revisions as well :(

I hope to take a look at it tomorrow.

Thanks!

Kind regards,
Arjan Tijms

On Wed, May 31, 2017 at 1:27 AM, Neil Griffin <notifications@github.com>
wrote:

[2017-05-31 01:27] kito99 commented on #4250
Thanks Neil.

On Tue, May 30, 2017 at 7:27 PM, Neil Griffin <notifications@github.com>
wrote:

[2017-05-31 14:43] josedefreitasc opened #4251 "OWASP character escape recomendation that could be applied for HTMLUtils.java"
Hi,

I was wondering if some security recommendations given by the OWASP could be included in jsf-impl, currently we are making some improvement over the security but we would like to avoid to make changes over the standard version. In this case, the OWASP recommend to escape the characters &, <, >, ", ', / until now the characters that are escaped in the HTMLUtils.java (package com.sun.faces.util

[2017-06-05 17:56] edburns commented on #4250
I fixed the link on the users.html page.

[2017-06-05 18:00] edburns commented on #4250
Fixed this, but clearly a more complete broken link traversal is necessary.

[2017-06-05 18:00] #4250 closed

[2017-06-09 11:12] martin654 commented on #3700
Could this be backported in 2.2.x ?
Thanks!

[2017-06-12 05:34] xinyuan-zhang commented on #4076
Closed, Duplicate Bug. Same to Duplicate ID exception when using composite component with c:if #4244

[2017-06-12 05:37] xinyuan-zhang commented on #4076
Closed, Duplicate Bug. Same to Duplicate ID exception when using composite component with c:if #4244

[2017-06-12 05:37] #4076 closed

[2017-06-12 05:37] xinyuan-zhang commented on #3982
Closed, Duplicate Bug. Same to Duplicate ID exception when using composite component with c:if #4244

[2017-06-12 05:37] #3982 closed

[2017-06-12 05:41] xinyuan-zhang commented on #4208
Closed, Duplicate Bug. Same to Duplicate ID exception when using composite component with c:if #4244

[2017-06-12 05:41] #4208 closed

[2017-06-12 05:48] xinyuan-zhang commented on #3944
Closed, Duplicate Bug. Same to Duplicate ID exception when using composite component with c:if #4244

[2017-06-12 05:48] #3944 closed

[2017-06-12 05:50] #4222 closed

[2017-06-12 05:50] #4223 closed

[2017-06-12 05:59] #4214 closed

[2017-06-12 06:10] #4213 closed

[2017-06-13 08:41] #4219 closed

[2017-06-15 07:14] #4102 closed

[2017-06-15 07:26] xinyuan-zhang commented on #4105
applied to 2.2.x:
    [port 2.2.x] JAVASERVERFACES-3531 didn't correct all uses of getExternalContext().isSecure()
    https://github.com/javaserverfaces/mojarra/issues/4104

    modified:   jsf-ri/src/main/java/com/sun/faces/context/flash/ELFlash.java

[2017-06-15 07:26] #4105 closed

[2017-06-15 07:28] xinyuan-zhang commented on #4103
applied to 2.2.x: fbad0c60cb7cf57dad851dc044d40328fb494af5

[port 2.2.x] JAVASERVERFACES-4073
#4103
The parameter is not passed to h:commandButton defined as composite component

modified:   jsf-ri/src/main/java/com/sun/faces/application/view/FaceletViewHandlingStrategy.java
new file:   test/javaee6web/facelets/src/main/java/com/sun/faces/test/javaee6web/facelets/Issue4073Bean.java
new file:   tes

[2017-06-15 07:28] #4103 closed

[2017-06-15 07:34] xinyuan-zhang commented on #4102
applied to 2.2.8: e8bd4033d20dcc2a54d8fda37ec95e23043eec2d

[port 2.2.x] JAVASERVERFACES-4073
#4103
The parameter is not passed to h:commandButton defined as composite component

modified:   jsf-ri/src/main/java/com/sun/faces/application/view/FaceletViewHandlingStrategy.java
new file:   test/javaee6web/facelets/src/main/java/com/sun/faces/test/javaee6web/facelets/Issue4073Bean.java
new file:   tes

[2017-06-15 07:46] xinyuan-zhang commented on #4104
applied to 2.2.8: df2addef6447f001feb90cbcb8e8d8b70848623a

    [port 2.2.8] JAVASERVERFACES-3531 didn't correct all uses of getExternalContext().isSecure()
    https://github.com/javaserverfaces/mojarra/issues/4104

    modified:   jsf-ri/src/main/java/com/sun/faces/context/flash/ELFlash.java

[2017-06-15 07:46] #4104 closed

[2017-06-16 06:15] xinyuan-zhang opened #4252 "Tracking bug for 26048517"
Tracking bug for 26048517

[2017-06-16 06:16] #4252 closed

[2017-06-23 09:25] ruolli commented on #3767
The fact is that, the HTML was already lost during the state restore process,
but, the lost happened in state save process before the next state restore process.

Each time, the dynamic component, which contains HTML and JSF tags, is created, it was added to <body> in the last, and is shown correctly.

But, when state save happens, the HTML was lost in FaceletPartialStateManagementStrategy::saveSt

[2017-06-23 09:26] ruolli commented on #3767
===========
com.sun.faces.application.view.FaceletPartialStateManagementStrategy:

    public Object saveView(FacesContext context) {
        if (LOGGER.isLoggable(Level.FINEST)) {
            LOGGER.finest("FaceletPartialStateManagementStrategy.saveView");
        }

        if (context == null) {
            return null;
        }

        UIViewRoot viewRoot = context.getViewRoot();
        if

[2017-06-23 09:26] ruolli commented on #3767
Zhijun and I reviewed the scenario carefully.

The HTML tags were parsed by SAXCompiler to UIInstructions was the correct behavior.
The UIInstructions were designed not to be saved/restored.

So, in conclusion, JSF does not support the scenario for now.
The workaround would be using tags like <h:outputText> to wrap the HTML content.

[2017-06-23 09:26] #3767 closed

[2017-06-26 18:47] edburns opened #4253 "Remove context-param to enable HTTP/2 server push"
This must not be behind a context-param, to achieve compliance with the new text in JSF 2.3 spec section 2.2.6.

[2017-06-26 19:30] arjantijms commented on #4253
+1

[2017-06-26 20:26] edburns commented on #4253
Let's see how this goes with our CI.

[2017-06-27 08:31] xinyuan-zhang commented on #4068
Not a jsf issue, closed.

[2017-06-27 08:31] #4068 closed

[2017-06-27 08:35] xinyuan-zhang commented on #4080
Closed as the related spring boot issue was closed.

[2017-06-27 08:35] #4080 closed

[2017-06-27 19:24] stiemannkj1 opened #4254 "Resource Library Contracts in separate jar cause StringIndexOutOfBoundsException: -1 when used in an OSGi enviroment"
## Steps to reproduce:

1. Clone the [test-resource-library-contracts-separate-jar](https://github.com/stiemannkj1/test-resource-library-contracts-separate-jar) project:

[code]

2. Build and deploy the project to Liferay 7.0:

[code]

If the bugs still exists, the following exception will appear in the Liferay logs:

[code]

If the bug is fixed, the portlet will deploy without errors, and will re

[2017-06-27 19:54] stiemannkj1 commented on #4254
PRs:
- `2.2.x`: https://github.com/javaserverfaces/mojarra/pull/4256
- `2.3.x`: https://github.com/javaserverfaces/mojarra/pull/4257

[2017-06-28 07:05] deki commented on #4253
Can you please fix the release notes? The contents references this issue and the artifactId is also correct but in the title it is named 2.2.8: https://github.com/javaserverfaces/mojarra/releases

[2017-06-30 01:58] xinyuan-zhang commented on #4240
Closed, Could Not Reproduce

[2017-06-30 01:58] #4240 closed

[2017-06-30 07:07] ruolli commented on #4186
After debugging the behavior of JSF 2.2.11 and GF 4.1.1, I can draw the conclusion that this issue was caused by GlassFish .

The upgrade of JSF 2.2.10 to 2.2.11 is merely the trigger of the potential problem inside GF .
In 2.2.10 and pre-2.2.10 JSF versions, com.sun.faces.config.DelegatingAnnotationProvider::getAnnotatedClasses(Set<URI> urls) was like below, depending on com.sun.faces.config.Java

[2017-06-30 07:18] ruolli commented on #4186
Besides, I'd like to paste several links here, which are all about this issue:
https://github.com/payara/Payara/issues/710
https://github.com/javaserverfaces/mojarra/issues/3961
https://www.beyondjava.net/blog/updating-to-mojarra-2-2-11-may-break-your-spring-boot-application/
https://github.com/spring-projects/spring-boot/issues/3216

[2017-06-30 07:21] ruolli commented on #4186
The change of JSF Mojarra from JavaClassScanningAnnotationScanner.getAnnotatedClasses() to sc.getAttribute(ANNOTATED_CLASSES) happened in GIT commit 39ef9185ea .

[2017-06-30 07:21] #4186 closed

[2017-07-03 05:53] #4123 closed

[2017-07-03 06:04] xinyuan-zhang commented on #4206
Closed, Duplicate Bug. Same to ui:repeat child state saving depends on the source of the request #4247

[2017-07-03 06:04] #4206 closed

[2017-07-03 06:12] xinyuan-zhang commented on #4092
pushed to 2.2.x

 jsf-tools/template-src/StateHolderSaver.java | 6 +++++-
 1 file changed, 5 insertions(+), 1 deletion(-)

[2017-07-03 06:12] #4092 closed

[2017-07-04 05:26] xinyuan-zhang commented on #4197
Closed, Could Not Reproduce

[2017-07-04 05:26] #4197 closed

[2017-07-04 08:01] #4254 closed

[2017-07-04 08:11] xinyuan-zhang commented on #4191
Hi @stiemannkj1 ,could you please create a new pull request for this issue.

[2017-07-04 08:16] xinyuan-zhang commented on #4217
Closed, Duplicate Bug. Same to CONFIGURATION FAILED! com.sun.faces.vendor.WebContainerInjectionProvider cannot be cast to com.sun.faces.spi.InjectionProvider #4216

[2017-07-04 08:16] #4217 closed

[2017-07-04 14:09] stiemannkj1 commented on #4191
@xinyuan-zhang, PR here: https://github.com/javaserverfaces/mojarra/pull/4258

Note that I'm still not sure if this violates the spec:

[2017-07-04 14:25] stiemannkj1 commented on #4254
@xinyuan-zhang, sorry, just realized that I never sent a PR to fix in `master`. Just sent one here: https://github.com/javaserverfaces/mojarra/pull/4259. Thanks a lot for merging all this stuff!

[2017-07-06 01:42] xinyuan-zhang commented on #4248
Closed, Could Not Reproduce

[2017-07-06 01:42] #4248 closed

[2017-07-06 01:52] xinyuan-zhang commented on #4216
Closed, Could Not Reproduce

[2017-07-06 01:54] #4204 closed

[2017-07-06 02:04] xinyuan-zhang commented on #4185
Closed, Could Not Reproduce

[2017-07-06 02:04] #4185 closed

[2017-07-06 02:29] xinyuan-zhang commented on #4180
Closed, Duplicate Bug. Same to Facelet cache wrong expiration threshold #4182

[2017-07-06 02:29] #4180 closed

[2017-07-06 02:52] xinyuan-zhang commented on #4098
Closed, Could Not Reproduce

[2017-07-06 02:52] #4098 closed

[2017-07-10 22:31] fernando1989mg commented on #4216
i have this error on weblogic 12c

[2017-07-11 01:46] xinyuan-zhang commented on #4216
@fernando1989mg
Hi, Can you provide a test war application for this bug?

[2017-07-11 02:45] fernando1989mg commented on #4216
@xinyuan-zhang
Sure dude, clone the war from here.
https://github.com/fernando1989mg/uploadsPublics.git

[2017-07-12 10:57] hayos opened #4260 "java.lang.IndexOutOfBoundsException: Index: 0, Size: 0 still occurs"
For a @ViewScoped page we are catching an exception in phase RESTORE_VIEW:
  javax.faces.FacesException: Unexpected error restoring state for component with id gF:dgr_tabset:dgrStatus.  Cause: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0.

The issue should have been fixed with #4011 in [2.1.29-05] which ports #3245 (JAVASERVERFACES-3241).

Our stacktrace looks very much the same as those

[2017-07-12 13:25] gundruma opened #4261 "UIRepeat visitTree resets Index correctly"
When using UIRepeat then FaceletViewHandlingStrategy.reapplyDynamicActions is not working properly. Only the first dynamic action to add/remove a component which is a sibling of UIRepeat will be reapplied. This is due to the visitTree method inside UIRepeat. It looks like index is not reset properly.

When visitTree is called the first time, I have the following situation:
- UIRepeat.index = -1
-

[2017-07-13 12:24] tandraschko opened #4262 "UIData#invokeOnComponent shouldn't proceed if the clientId doesn't start with the UIData clientId"
The new Search Expressions used findComponent or invokeOnComponent (as fallback) to get a component by id.

I have a case, where the "value" attribute of the dataTable is not yet completely resolveable and it not yet rendered yet.

If i use invokeOnComponent now, to search a component, which is placed outside of the datatable, the dataTable will throw a exception because of the unresolvable EL.
Th

[2017-07-14 02:37] xinyuan-zhang commented on #4242
Closed,work as design.

[2017-07-14 02:37] #4242 closed

[2017-07-17 15:07] #4253 closed

[2017-07-20 02:18] xinyuan-zhang commented on #4243
I can't reproduce this issue by your code segment. I will closed this issue as couldn't reproduce if there isn't any reply in the next week.

[2017-07-27 06:08] xinyuan-zhang commented on #4243
Closed, Couldn't reproduce.

[2017-07-27 06:08] #4243 closed

[2017-07-30 07:15] chris21k commented on #4245
The same with Weld 3.0.0. However, I found out, that if using bean-discovery-mode="all" instead of bean-discovery-mode="annotated" the example above works, i.e., the other-Object is injected within the validator. However, this should also work with  "annotated" as the class Other is annotated with @Named.

Chris

[2017-08-01 07:10] gundruma opened #4263 "AjaxHandler#applyNested should also check for dynamic components"
When TagHandlers are applied, dynamic components are getting their parent removed in com.sun.faces.facelets.tag.jsf.ComponentTagHandlerDelegateImpl.apply(FaceletContext, UIComponent):

    if (c != null && c.getParent() != parent &&
            c.getAttributes().containsKey(DYNAMIC_COMPONENT)) {

            c.getParent().getChildren().remove(c);

        }
    }

As for the ajax Tag, the com.sun.

[2017-08-03 19:17] skybber commented on #4260
In my case root cause of the null value in attachedObjects is previous save state of BeanValidator with initialStateMarked() == true - then null value is stored into attachedObjects.

[2017-08-05 08:30] hantsy opened #4264 "JSF Facelet can not recognize CDI beans."
I am always trying to update myself to the latest Java EE specs. And two years ago, I created a `ee8-sandbox` project to practice the upcoming Java EE 8.

There is a [JSF sample](https://github.com/hantsy/ee8-sandbox/tree/master/jsf). which worked with the following when JSF 2.3 milestones was released.

1. Java EE 7 API
2. Glassfish 4.1.2 + JSF 2.3(copy and override the one existed in glassfish)

[2017-08-07 04:58] xinyuan-zhang commented on #4260
@skybber Could you please provide us a reproducer. Thanks.

[2017-08-07 07:47] skybber commented on #4260
Unfortunatelly it happens on our large project (with big pages) and I have not enough time to make some deeper investigaton and to make smaler reproducible example now. But the couse of the problem is very clear as I've seen it when I've debugged the mojarra code.

[2017-08-10 14:41] Toberumono opened #4265 "New Component Search Expression keywords are not available in f:ajax when they are the only target"
The AjaxBehavior object attempts to reduce memory consumption for single-target values by keeping static lists in memory for the "@all", "@form", "@this", and "@none" keywords. However, it does not account for the newly added keywords (i.e. "@parent") in this mode.  For example, the first ajax behavior in the following example causes an exception while the second one is fine:

[code]

This appears

[2017-08-14 09:26] zsalab opened #4268 "Is CDI mandatory for JSF 2.3?"
The ELUtils throws an exception with JSF 2.3 if no CDI BeanManager present
https://github.com/javaserverfaces/mojarra/blob/master/impl/src/main/java/com/sun/faces/el/ELUtils.java:312
                throw new FacesException("Unable to find CDI BeanManager");

Is CDI mandatory for JSF 2.3?

[2017-08-14 10:00] arjantijms commented on #4268
Yes, CDI is mandatory indeed for JSF 2.3. For JSF 2.2 it was somewhat mandatory, as certain features (e.g. flow scope) would not work without it.

[2017-08-14 10:01] zsalab commented on #4268
sad, I can not use JSF any further :(
Thank you for your answer

[2017-08-14 10:01] #4268 closed

[2017-08-14 10:20] arjantijms commented on #4268
No worries, note btw that you can add CDI separately to Tomcat etc.

[2017-08-14 11:09] zsalab commented on #4268
I am using spring, and I really do not want to change, looks tomcat get crazy if I add weld and jetty just did not start..... so probably the best if I give up JSF at all

[2017-08-14 12:50] arjantijms commented on #4268
Tomcat normally just works with Weld, we test OmniFaces with it all the time. See this one for some instructions; http://balusc.omnifaces.org/2013/10/how-to-install-cdi-in-tomcat.html

[2017-08-14 20:43] ngriffin7a commented on #4268
@arjantijms Is there anything in the JSF Spec or that would require a compliant JSF 2.3 implementation to require CDI? If not, couldn't Mojarra 2.3 be more like Mojarra 2.2? For example, `@FlowScoped` doesn't work unless CDI is present, but CDI is not required for most all other JSF 2.2 features. Another example -- in the case of the MBF, I realize that it has been deprecated, but it seems like it

[2017-08-14 21:29] arjantijms commented on #4268
@ngriffin7a JSF 2.3 made many additional steps to rebase on CDI, so many new things (including some core things) now require CDI.

Without CDI, few things would be left that are of interest in JSF 2.3, and perhaps the user would then be better of continuing to use JSF 2.2. For instance, the WebSocket integration requires CDI as well (in addition to, perhaps obviously, WebSocket).

The MBF however

[2017-08-14 22:24] ngriffin7a commented on #4268
@arjantijms JSF 2.3 is definitely a compelling upgrade for CDI users and for those that need `f:websocket`, but other features in JSF 2.3 such as JAVASERVERFACES_SPEC_PUBLIC issues 1, 217, 329, 613, 790, 936, 1078, 1102, 1103, 1007, 1135, 1238, 1260, 1355, 1364, 1370, 1382, 1396, 1404, 1412, 1422, 1423, 1424, 1428, 1429, 1434, and 1435 are also very attractive. I get the impression that are many l

[2017-08-14 22:27] ngriffin7a commented on #4268
@arjantijms Also wanted to mention that the new Portlet 3.0 Specification has many new features that rely on CDI, but the spec is written in such a way as to use language like "If CDI is present, then..." for CDI-specific features.

[2017-08-14 23:14] arjantijms commented on #4268
@ngriffin7a I hear you, and some of that was discussed earlier, but I think the consensus of sort was to not abstract from CDI, but let CDI be essentially the foundation of JSF, and then should users want to integrate other bean models then CDI bridges can be created for those (not totally unlike your Portlet bridge ;)).

CDI should be quite flexible there, and both dynamic bean building (see e.g.

[2017-08-14 23:20] arjantijms commented on #4268
p.s. some of the above is also because of pragmatic reasons; as you know the resources available to JSF are not that much. When a concern was raised for WebSocket requiring CDI, with some people still on e.g. Java EE 5, but still wanting to upgrade to JSF 2.3, it was offered for those interested in that to donate a non-CDI dependent WebSocket version, but such donation was never done.

Only having

[2017-08-15 07:30] Andrew-Gr commented on #4264
I have the absolutely the same issue! Vote up! Have tested on GlassFish 4.1.2, Payara 4.1.2.172, GlassFish 5 - everywhere the same error: javax.el.PropertyNotFoundException: ...... value="#{beanName.id}": Target Unreachable, identifier 'beanName' resolved to null
More details posted here: https://stackoverflow.com/questions/45682309

[2017-08-18 13:31] skybber opened #4269 "ComponentStateHelper#restoreState should not remove attributesThatAreSet"
ComponentStateHelper#restoreState removes the `attributeThatAreSet` in following code:

                defaultMap.remove(serializable);
                deltaMap.remove(serializable);

as a result all pass-through attributes are lost in subsequent ajax request rendering (for example rendering of outputTextLink). Attribute removal code was added in v2.3.

[2017-08-19 09:38] hantsy commented on #4264
I have prepared a copy of codes for Java EE, and reverted the dependencies and configurations to Java EE APIs. The codes are almost same, but it works in Java EE 7 and Glassfish v4. The difference is the Java EE version for APIs and configuration.

Java EE 7 sample: https://github.com/hantsy/ee7-sandbox/tree/master/taskboard

[2017-08-20 18:13] Quix0r commented on #2824
Needs re-opening, people, including myself have still the issue:

https://stackoverflow.com/questions/31556859/how-to-specify-the-target-doctype-in-jsf-2-2?rq=1
https://stackoverflow.com/questions/45537018/doctype-not-rendered-in-jsf-master-template

The last one is asked by me and as you can see I use `h:doctype` and nowhere else any doctype.

[2017-08-28 03:48] ConstantinAlin opened #4270 "Injecting in Converter/Validator requires a JSF 2.3 faces-config.xml file"
Injecting in Converter/Validator requires a JSF 2.3 faces-config.xml file, even if the application uses a JSF 2.3 configuration bean:
#### ConfigurationBean.java
[code]
As pointed by Arjan Tijms in [this topic](https://github.com/javaee/glassfish/issues/22094), an empty JSF 2.3 faces-config.xml file is not involved into enabling CDI injection and EL resolution using CDI and switching into a JSF 2.

[2017-08-28 08:20] Rapster opened #4271 "Composite method do not resolve parameter if in template"
Explained here: https://stackoverflow.com/questions/45834296/composite-method-do-not-resolve-parameter-if-in-template

Reproduced on last 2.2.X version but looks fixed on 2.2.8-X

[2017-08-30 18:54] Quix0r opened #4273 "StackoverflowError with nested custom JSF tags"
The stackoverflow happens on "random" places, currently only when EL code is being parsed. Simple code like:

[code]

... or just showing a message from a i18n bundle within that tag will also trigger it.

Have another similar tag, but reference the foo tag in it:

[code]

The bug can be reproduced with a simple setup
 - Payara 4.1 (build 173)
- Mojarra 2.3.2 ( 20170627-2139 e63598abf2ed2bb1a24674

[2017-08-31 17:15] Quix0r commented on #4264
Just curious: Have you used `@ManagedBean` (JSF 2.0) or `@Named` (JSF 2.2) to give your backing bean a name? And have you used `import javax.enterprise.context.*Scoped` (JSF 2.2) and not deprecated `javax.faces.bean.*Scoped` (JSF 2.0). As a mixture of both versions don't work and is a common mistake to only change `@ManagedBean` to `@Named`.

[2017-09-01 05:21] hantsy commented on #4264
@Quix0r  Did you check my sample codes?

I have used JSF in projects since 1.1. And when I used it within a DI container, such as Spring, Seam 2, CDI, I never used JSF built-in annotations to declare a bean. Never!

[2017-09-01 05:26] hantsy commented on #4264
BTW, It seems mojarra development is inactive in these months, from the Github commit logs, there are no resources on processing issues from reporters.

[2017-09-01 05:40] hantsy commented on #4264
@Andrew-Gr I found the some helpful info from GF issues.   Maybe it clarified our confusion, but I think it is a very bad idea when I used JSF 2.3 in a  Java EE 8 compatible application server, such as GF v5.

https://github.com/javaee/glassfish/issues/22094

We have to enable JSF 2.3 manually within a built-in JSF 2.3 container.

[2017-09-01 07:41] hantsy commented on #4264
I have added a `ConfgirationBean` as https://github.com/javaee/glassfish/issues/22094, but still does not work.

See #https://github.com/hantsy/ee8-sandbox/commit/942e1b234e7cddcb15f2c3ab7e7b941bcd65e054

[2017-09-03 15:35] Andrew-Gr commented on #4264
@hantsy thank you for pointing out on the JSF 2.3 "activation" approach. I have seen that topic and also tried to activate JSF 2.3 according to that guide, but it didn't work for me as well.

[2017-09-04 06:21] xinyuan-zhang commented on #4264
Here is my config,it works properly in latest GF5.0
====================================================

Test.java
[code]

ConfigurationBean.java
[code]

beans.xml
[code]

faces-config.xml
[code]

web.xml
[code]

index.xhtml
[code]

[2017-09-04 07:26] hantsy commented on #4264
@xinyuan-zhang Compared to your codes, only some difference:

1. I used  CDI 2.0, and set `bean-discovery-mode` to **annotated**.
2. I have not set FacesServlet, it can be configured automatically for a long time.
3. I have added `ConfigurationBean` and also added `javax.faces.ENABLE_CDI_RESOLVER_CHAIN`(true) in web.xml, I am not sure if the `javax.faces.ENABLE_CDI_RESOLVER_CHAIN` is no use now.

[2017-09-04 07:29] hantsy commented on #4264
@xinyuan-zhang @Andrew-Gr Just confirmed when I changed `bean-discovery-mode` to **all**, it works.

So the issue is JSF 2.3 does not work when `bean-discovery-mode` is  annotated in beans.xml. @Andrew-Gr  Can you verify it?

[2017-09-04 07:46] hantsy commented on #4264
@xinyuan-zhang Just checked my Java EE 7 version, https://github.com/hantsy/ee7-sandbox/blob/master/taskboard/src/main/webapp/WEB-INF/beans.xml, `bean-discovery-mode` with value **annotated** works well in Java EE 7(JSF 2.2, CDI 1.1).

[2017-09-04 08:16] xinyuan-zhang commented on #4264
@hantsy When you use bean-discovery-mode="annotated" in beans.xml, add
[code]
on your beans,for example
[code]

[2017-09-04 08:21] hantsy commented on #4264
@xinyuan-zhang I have added a standalone `ConfigurationBean` to enable CDI, if  I set  bean-discovery-mode="annotated" in beans.xml, it does not work.

Why I have to add `@FacesConfig` on each beans in my application, it is very unreasonable.

[2017-09-04 08:51] xinyuan-zhang commented on #4264
@hantsy It confuses me also, but when I add @FacesConfig on cdi beans, it really works properly with bean-discovery-mode="annotated".
@edburns @AnghelLeonard @arjantijms @BalusC @manfredriem , does anyone can explain it?

[2017-09-04 08:59] hantsy commented on #4264
@xinyuan-zhang Personally I dislike the `@FacesConfig` to enable CDI as InejctionProvider.

The approaches in development stage is working well.
1. faces-config.xml version to indicate the JSF version.
2. Use `javax.faces.ENABLE_CDI_RESOLVER_CHAIN`(true) to enable CDI as InjectionProvider, I think it should be **true** by default in a Java EE 8 application server. *Set it to false for those guys w

[2017-09-04 14:33] Andrew-Gr commented on #4264
@hantsy I was able to successfully run the empty "hello world" JSF 2.3.2 app on Payara 5 with the `bean-discovery-mode="all"` in `beans.xml` and standalone `ConfigurationBean` , but once I am configuring my target project with the same settings - I am getting issues with CDI.
Looks like adding `@FacesConfig(version = FacesConfig.Version.JSF_2_3)` to 'problem' beans partially solves the issue, but

[2017-09-04 15:34] arjantijms commented on #4264
@hantsy

Indeed, it's a little inactive. Not because of disinterest or anything, but simply a matter of time. I'm personally very busy with preparing Payara 5, of which we're planning to release the first alpha this week.

Especially the Mojarra 2.4 branch was hanging mid-development (I had to flush out my changes when we moved from java.net to GitHub) and it's high on my TODO level to resume that

[2017-09-04 15:39] hantsy commented on #4264
@arjantijms Understood.

[2017-09-06 08:23] Quix0r commented on #4270
In `faces-config.xml` (written from my memory) you can use JSF 2.3 XSD and `version="2.3"`. Have you tried this, too? When I last did this with JSF 2.3 (downloaded here from "Releases" link) all my context-parameter were not processed.

[2017-09-06 10:32] ConstantinAlin commented on #4270
@Quix0r You are right. If I add a JSF 2.3 __faces-config.xml__ file, with __version=2.3__, the above use case works. However, I'm not looking for a quick fix, but merely to point out that a __faces-config.xml__ file should not be required during CDI injection.

[2017-09-06 13:13] arjantijms commented on #4270
@ConstantinAlin

It should indeed not be required, but this is a bug in Mojarra 2.3.2. We should fix this soon.

Sorry for the inconvenience!

[2017-09-06 14:30] j-be commented on #4145
Hi guys, I am struck by this error using a WildFly 8.10.Final with bundled Mojarra 2.2.6. And I can see how this seems to be quite a trivial error, but in my case - as the project I am working on loads parts of some pages using AJAX - it can lead to a denial of service, as the page wont be rendered correctly (i.e. the AJAX load part wont be displayed at all).

Now, I know that I could implement a

[2017-09-06 15:26] xinyuan-zhang commented on #4145
Hi, Can you provide a test war application for this bug?

[2017-09-06 16:13] j-be commented on #4145
Here you go [mojarra4145.zip](https://github.com/javaserverfaces/mojarra/files/1281783/mojarra4145.zip)

You'll find the source code and target folder contains a pre-built war.

Just deploy it to WildFly (8.1.0.Final is definitely affected) and go to localhost:8080/mojarra4145. Go to the second tab. Now, you can add a "normal" entry by using the input field and the "Add" button. Make sure that wor

[2017-09-06 17:37] ConstantinAlin commented on #4270
@arjantijms Great! I'm just happy to help in any way I can and I will continue testing JSF 2.3.

[2017-09-07 05:31] xinyuan-zhang commented on #4271
Hi, @Rapster ,I have run your test case with 2.2.15-SNAPSHOT, it works. It seems mojarra has fixed this bug in 2.2.15-SNAPSHOT.
You can build the source to get 2.2.15-SNAPSHOT.jar or just download it from
https://github.com/xinyuan-zhang/mojarra-snapshot

[2017-09-07 11:05] arjantijms opened #4276 "Maven build fails in 2.3.x branch"
Since Mojarra 2.3.1 where the Servlet 4 push functionality was introduced, the project doesn't build anymore with Maven. Failures reported are among others:

[code]

[2017-09-07 11:35] #4276 closed

[2017-09-07 12:28] Rapster commented on #4271
I'll have a try later, thanks for answering. Do you have an idea when 2.2.15 will be released?

[2017-09-07 16:07] arjantijms commented on #4270
@ConstantinAlin I just pushed a fix and tested it via the already existing tests in the project. It should work now, but would be good if you could double test it. Thx!

[2017-09-08 06:56] ConstantinAlin commented on #4270
@arjantijms Confirmed. No empty __faces-config.xml__ required. Tested with __JSF 2.3.3-SNAPSHOT__ build from MOJARRA_2_3X_ROLLING.

[2017-09-08 11:39] arjantijms commented on #4270
@ConstantinAlin

\0/

Great that it's fixed now. It was indeed my "fault"; I forgot to update the code at one location. Sorry for all the confusion.

[2017-09-08 11:39] #4270 closed

[2017-09-09 12:53] #4249 closed

[2017-09-11 10:45] martin654 commented on #4244
This issue is bothers me too. Is there any chance this could be fixed in next 2.2.xx version?

[2017-09-11 16:52] SuperPat45 opened #4278 "Useless HashSet in DefaultFaceletContext"
There is a mistake in /impl/src/main/java/com/sun/faces/facelets/impl/DefaultFaceletContext.java in the apply method we can show:
[code]
You have a set of string for containing ui:insert name having no composition Handlers. bus as the elemnt is always removed. this list is therefore useless as it is used anywhere else except if you update the code like this:
[code]

[2017-09-12 01:29] xinyuan-zhang commented on #4244
@martin654 This issue had been fixed in the JSF 2.2.14 and 2.3.2

[2017-09-12 07:47] jensberke commented on #4244
@xinyuan-zhang: I'm using 2.2.14 and I can still reproduce the bug there. Either it hasn't been fixed in this version or the fix doesn't work.

[2017-09-12 07:59] xinyuan-zhang commented on #4244
@jensberke  Hi, Can you provide a test war application for this bug?

[2017-09-12 07:59] martin654 commented on #4244
@xinyuan-zhang thank you for quick reply.

I am not sure it is fixed. I have very simple app with following page and composite and it is still not working with mojarra 2.2.14 (Myfaces works)

Page:
[code]
Composite:
[code]
Bean:
@ManagedBean(name = "editor")
public class EditorBean {
    private String text;
    private List<String> texts1 = Arrays.asList("CLASSIC S", "EXTRA S", "PREMIUM S");
}

[2017-09-12 08:17] jensberke commented on #4244
@xinyuan-zhang: yes, but I've got no time for it right now. Probably tomorrow or the day after.

[2017-09-12 13:21] jensberke commented on #4244
@xinyuan-zhang: I managed to find some time to create a war file, see [mojarra-issue-4244.zip](https://github.com/javaserverfaces/mojarra/files/1296062/mojarra-issue-4244.zip)

[2017-09-12 21:31] stiemannkj1 commented on #4224
Here's an updated script that can workaround this issue:

**`prepare-mojarra-2.2.x-build.sh`**:

[code]

Use it like this:

[code]

[2017-09-13 21:51] stiemannkj1 opened #4279 "ConfigurableNavigationHandler.getNavigationCase() is not idempotent. Calling ConfigurableNavigationHandler.getNavigationCase() before exiting nested flow causes outer flow to be exited prematurely"
# Steps to reproduce:

1. Clone the [getNavigationCase-idempotent-tester](https://github.com/stiemannkj1/getNavigationCase-idempotent-tester) project:

[code]

2. Build the project:

[code]

3. Deploy the project to Tomcat:

[code]

4. Navigate to the deployed webapp at [http://localhost:8080/getNavigationCase-idempotent-tester/](http://localhost:8080/getNavigationCase-idempotent-tester/).
5. Clic

[2017-09-13 22:06] stiemannkj1 commented on #4279
Note that the [JavaDoc for `ConfigurableNavigationHandler.getNavigationCase()`](https://javaserverfaces.github.io/docs/2.2/javadocs/javax/faces/application/ConfigurableNavigationHandler.html#getNavigationCase(javax.faces.context.FacesContext,%20java.lang.String,%20java.lang.String)) seems to imply that calls to `getNavigationCase()` should be idempotent:

Perhaps my interpretation is incorrect, bu

[2017-09-14 11:26] tandraschko opened #4280 "Taglib with mixed composite-library-name/tag's results in JSF1064: Unable to find or serve resource, {0}"
Currently if you mix

`<composite-library-name>my-base</composite-library-name>`

and

`    <tag>
        <tag-name>myTag</tag-name>
        <handler-class>test.MyTagHandler</handler-class>
    </tag>`

or

`
    <tag>
        <description><![CDATA[]]>
        </description>
        <tag-name>inputCurrency</tag-name>
        <component>
            <component-type>test.InputCurrency</component-typ

[2017-09-15 20:10] stiemannkj1 commented on #4279
@vsingleton, here is the PR to fix this issue: https://github.com/vsingleton/mojarra/pull/20

I tested the fix against the `test/web-profile`, `test/javaee6web`, and `test/javaee7` test suites since those were the only test suites that contained flows tests.

Please forward port to `2.3.x` and `master`

Thanks.

[2017-09-18 18:00] Toberumono opened #4281 "Namespaces on inline HTML tags causes the component tree to be malformed"
If we have a fragment like
[code]
(The tags and namespace do not matter - so long as an HTML tag with a namespace declaration exists on the page, this error will occur)

The expected tree should have a structure like:
[code]

Instead it has a structure like:
[code]

[2017-09-19 07:43] xinyuan-zhang opened #4283 "Tracking bug for 26770099 H:INPUTHIDDEN VALUE IS NOT SET IN HIDDEN FIELD"
Caused by the fix of Bug 25811336 - INVALID VALUE IS APPEARED AFTER THE NEXT OPERATION WHEN IT FAILED A VALIDATION.

[2017-09-19 07:49] xinyuan-zhang opened #4284 "[BACKPORT 2.2.x] Tracking bug for 26770099 H:INPUTHIDDEN VALUE IS NOT SET IN HIDDEN FIELD"
Caused by the fix of Bug 25811336 - INVALID VALUE IS APPEARED AFTER THE NEXT OPERATION WHEN IT FAILED A VALIDATION.

[2017-09-19 07:50] xinyuan-zhang opened #4285 "[PORT 2.3.x] Tracking bug for 26770099 H:INPUTHIDDEN VALUE IS NOT SET IN HIDDEN FIELD"
Caused by the fix of Bug 25811336 - INVALID VALUE IS APPEARED AFTER THE NEXT OPERATION WHEN IT FAILED A VALIDATION.

[2017-09-19 07:52] xinyuan-zhang commented on #4283
commit ea6f549 on 2.2.8

[2017-09-19 07:52] #4283 closed

[2017-09-19 21:32] Toberumono commented on #4264
@xinyuan-zhang, I didn't see this answered, but I had the same issue, and I worked out why adding @FacesConfig to a bean "fixes" the CDI issue. Essentially, in CdiExtension's collect method, it looks up all beans with the @FacesConfig annotation on them and, provided that the last bean found with that annotation has its value set to at least Version.JSF_2_3, it sets a flag on itself (CdiExtension)

[2017-09-19 21:36] arjantijms commented on #4264
@Toberumono Your observation is correct.

The major problem is that JSF 2.3 by default runs in a pseudo JSF 2.2 mode (a kind of JSF 2.2 compatibility mode). To make it truly JSF 2.3 you need to switch it to JSF 2.3 via the @FacesConfig annotation with, indeed, version 2.3.

[2017-09-20 13:57] laxman3018 opened #4287 "NumberFormatException with dynamically nested UIRepeat"
Hi all,
I'm trying to add nested UIRepeat programmatically to Primefaces data table row and there is one command button in row and on click of that one dialog opens. After adding the  row and on clicking of command button i am getting exception as NumberFormatException launched by javax.faces.component.UIData#invokeOnComponent.
Exception is  java.lang.NumberFormatException: Trying to extract rowIn

[2017-09-22 05:43] BalusC commented on #4287
How does the final component tree look like in XHTML markup? Did you mean to say that you created a `<p:dataTable><ui:repeat><p:column><p:commandButton>`?

[2017-09-22 05:47] BalusC commented on #4280
Confirmed.

In the meanwhile, you can create a custom `ResourceHandler` to suppress the warnings. Here's an example: https://github.com/javaeekickoff/java-ee-kickoff-app/blob/af2a670ec0337d82f7158194504e1a7fcfc8c433/src/main/java/org/example/kickoff/view/resourcehandler/ResourceHandlerImplPatch.java

[2017-09-22 05:54] BalusC commented on #4281
Reproduced.

[2017-09-22 06:10] BalusC commented on #4273
It wasn't clear how to reference the tags. I ended up with `<h:body><widget:anotherSimilarTag/></h:body>`, but it works just fine for me with Mojarra 2.3.2 on Tomcat 8.5.20. I'll try Payara later when time allows me.

[2017-09-22 08:03] laxman3018 commented on #4287
![issue](https://user-images.githubusercontent.com/29888449/30734842-80bb7e40-9f9a-11e7-992a-f284c27e78e4.JPG)
Added the screenshot

[2017-09-22 14:01] Toberumono commented on #4281
I just realized that the pull request I made to fix this isn't listed here.  It's #4282.

[2017-09-22 18:42] Toberumono opened #4288 "HtmlResponseWriter breaks conditional comments"
HtmlResponseWriter encodes the contents of HTML comments.
For example:
[code]

The expected output is:
[code]

However, the observed output is:
[code]

Based on the comments in HtmlResponseWriter#writeComment(), this appears to be a bug. Although, based on the workaround that @BalusC put together in OmniFaces, I'm assuming that there is something else preventing this behavior from being changed to

[2017-09-22 19:55] Quix0r commented on #4273
Hi @BalusC , your answers on stackoverflow are treasure chests! 👍 Yes, same "problem" here, low time, to much to do.

[2017-09-22 23:49] BalusC commented on #4287
I was asking for the component tree in XHTML markup, not for its generated HTML output.

[2017-09-22 23:53] BalusC commented on #4288
IE conditional comments are an IE specific feature and not part of the HTML standard.

[2017-09-22 23:53] #4288 closed

[2017-09-23 02:29] cmunden commented on #4278
Difficult to say if this is actually useless as TemplateManager follows the Composite pattern.  TemplateManager is a TemplateClient that has a TemplateClient (referenced by this.target).

As such, one could produce strange family trees where parents can be their own parents, parents can be their own children, children can be the parents of their own grand parents, etc.  Without strict rules about

[2017-09-23 02:35] cmunden commented on #4287
Could you post your facelet?  The inspected markup doesn't relay the true intent.

[2017-09-23 07:28] Andrew-Gr commented on #4264
@arjantijms is it any plans for JSF 2.3.3 to be release in the nearest future with your latest changes on this? Thanks!

[2017-09-23 07:47] hantsy commented on #4264
I hope in  Java EE 8 compatible environment(eg. Glassfish 5, it was just released), JSF 2.3 is enabled by default, no need global @FacesConfig or adding it every beans, and also should free my CDI settings (both **annotated** or **all** discovery mode should work, in a Java EE 8 application, CDI is not just for JSF ).

And for those cases who want to use JSF 2.3 with Java EE 7 or Servlet 3.1 conta

[2017-09-23 09:39] Rapster commented on #4271
Why is everything is fixed in 2.2.8.x version? I thought 2.2.8.x was related to WebLogic but reading few tickets, nothing mention WebLogic...

[2017-09-23 09:52] BalusC commented on #4251
Technically, escaping apostrophe is not necessary as JSF HTML renderer never renders the apostrophe as attribute value separator and escaping forward slash is not necessary as JSF HTML renderer never renders partial entities.

[2017-09-23 09:57] BalusC commented on #4260
This kind of exception can happen if `UIComponent` instances are shared across HTTP requests. This is explicitly discouraged in JSF spec section 3.1.5.

Most probably you're somewhere using `<x:somecomponent binding="#{beanWhichIsNotRequestScoped.component}"`. This part has to be fixed.

Related reading: https://stackoverflow.com/q/14911158/157882

[2017-09-23 10:27] BalusC commented on #4273
Can't reproduce with Payara 4.1.2.173 either. Either they already fixed it in their EL impl or some essential trigger is missing in the information provided so far.

[2017-09-23 11:22] Andrew-Gr commented on #4264
@hantsy first of all thank you for mentioning that GF 5 was released - I haven't noticed that! Re "JSF 2.3 enabled by default in GF 5" - are you sure about that? ) ...didn't have time to check it, will start practicing with GF5 from tomorrow by moving my apps to it.

[2017-09-23 12:29] arjantijms commented on #4264
@hantsy

Unfortunately, this is not the case. In a full or web profile Java EE 8 environment the specification says that JSF should by default run into this 2.2 pseudo compatibility mode. I'm personally not a fan of this either. For Payara, but only for Payara, I may be able to make 2.3 the default.

Don't forget that you always need *something* to enable JSF. Like a FacesServlet mapping in web.xm

[2017-09-23 15:45] hantsy commented on #4264
If there is a `@FacesConfig` annotated class can configure JSF and replace the `faces-config.xml`, I think it is better.

You mean the `@ApplicationPath` annotated Application class? but this class provides some custom approaches for you to override methods.

[2017-09-25 07:59] hantsy opened #4290 "Websocket issues"
I am trying to taste the Websocket features in the newest JSF 2.3, just created a  hello application.

* Glassfish v5
* Oracle Java 8

The backend bean:

[code]

The facelets page:

[code]

In the above codes, the simplest codes worked well( without  the `second button` and `3rd button` marked codes).

1. When I added **second button** part, it worked, I have to add `render="@all"` to get the upda

[2017-09-25 13:12] laxman3018 commented on #4287
@BalusC @cmunden
This will be the final component tree of data table.
![cf_issue](https://user-images.githubusercontent.com/29888449/30809914-ff13f910-a220-11e7-868e-b2371e8bc094.JPG)

Also i  have attached the HTML file and the class where i am building the uirepeat and adding it to data table.
[CustomeTableBuilder.zip](https://github.com/javaserverfaces/mojarra/files/1329553/CustomeTableBuilder.

[2017-09-25 13:44] cmunden commented on #4287
At first glance... the error seems to be happening because rowIndex is not declared in scope.    What happens if you add the following attribute

<code>rowIndexVar="rowIndex"</code>

to your <code>p:dataTable</code> component?

[2017-09-25 14:59] Toberumono commented on #4288
@BalusC While the IE conditional comments are an IE specific feature, they are presently broken because JSF's HtmlResponseWriter is improperly escaping the contents of comments. The HTML 5 standard, [section 12.1.6](https://html.spec.whatwg.org/multipage/syntax.html#comments) does not preclude '>' or '<' from appearing in comments. Actually, it explicitly states that `<!` is allowed at the end of

[2017-09-26 08:32] laxman3018 commented on #4287
Thanks @cmunden for some solution
I tried adding the rowIndexVar="rowIndex" but still same issue.
And other approach we cannot take as out table structure is bit heavy and to make tree structure light so that rendering of table will be fast we are not adding the Ui repeat at start, only when user clicks on button then we add the uirepeat.
I am not understanding this same approach was working in JS

[2017-09-27 15:49] Quix0r commented on #4273
Will setup a small project for it.

[2017-09-27 15:53] arend-von-reinersdorff opened #4291 "Recommended EL version 3.1 doesn't exist"
The Readme recommends EL version 3.1:

https://github.com/javaserverfaces/mojarra#minimum-requirements

As far as I know, EL 3.0 is still the latest version and there is no version 3.1.

[2017-09-27 16:38] arjantijms commented on #4291
Fixed! Thx for the eagle eyes ;)

[2017-09-27 16:38] #4291 closed

[2017-09-30 19:16] kordirko opened #4292 "ui:include - wrong example in the documentation"
The [ui:include](https://javaserverfaces.github.io/docs/2.3/vdldoc/ui/include.html) documentations states that:

This description and example is incosistent with the actual implementation.
I created a simple test (see details in [this StackOverflow question](https://stackoverflow.com/questions/46192229/uiinclude-includes-wrong-file-in-jsf-2-2))
and it turned out that **companyLogo.xhtml** must be

[2017-10-01 08:18] BalusC commented on #4290
There are several problems in your Facelet:

1. The h:form has prependId="false". This is a leftover of JSF 1.x and should normally only be used in j_security_check forms. It will corrupt resolving IDs for f:ajax. The prependId="false" is incompatible with f:ajax. Stop using prependId="false". It's considered bad practice. Related: https://stackoverflow.com/q/7415230/157882

2. The f:ajax has rend

[2017-10-01 08:18] #4290 closed

[2017-10-01 09:02] BalusC commented on #4287
Solving reported issues related to "dynamically added components" is very hard without having a concrete reproducer project, because there are so many ways to "dynamically add components". There are both good ways and bad ways.

One of easiest and most robust ways is using JSTL because it fits nicely into the XML based flow of a Facelet and you can keep using XHTML to declare components instead of

[2017-10-02 05:48] hantsy commented on #4290
@BalusC Thank you every much.

[2017-10-02 16:33] hantsy commented on #4290
@BalusC I have added more examples today. I encountered some issues when used f:websocket with f:ajax, I posted it on stackoverflow.

https://stackoverflow.com/questions/46529699/how-jsf-2-3-websocket-work-with-ajax-with-fajax-actionlisenter

Can you open an eye on this when you are available?

And is there any place to discuss general JSF/mojarra? Gitter? or others. I think I will have more quest

[2017-10-03 06:43] BalusC commented on #4290
Stack Overflow is fine for questions.

[2017-10-03 18:36] laxman3018 commented on #4287
@BalusC  I have attached the source project.
Request you to please go through once.
I am stuck with this issue from long time.

Thanks
[spring-webflow-jsf.zip](https://github.com/javaserverfaces/mojarra/files/1353453/spring-webflow-jsf.zip)

[2017-10-04 06:30] BalusC commented on #4287
I'm not familiar with Spring. In the future please use standard Java EE instead of 3rd party frameworks in reproducer projects so that it will end up less confusing.

For instance, I don't know what the default scope is of Spring's `@Component` annotation which you've there on the `CustomeTableBuilder` bean. But based on bean's logic, it has definitely to be request scoped (because it's holding UI

[2017-10-04 08:01] martin654 commented on #4244
Hi, it has been a while now, is there any progress on this issue? Thank You

[2017-10-04 11:41] chris21k opened #4293 "Usage of (in Java 9) deprecated API"
Mojarra (tested 2.3.2) depends on package javax.xml.bind. For example in com.sun.faces.util.ByteArrayGuardAESCTR.java to javax.xml.bind.DatatypeConverter .

This API is deprecated in Java 9 SE and only accessible with jvm command line argument --add-module java.bind.xml .
A more secure/promising option would be to provide the implementation (https://github.com/javaee/jaxb-v2) as module or in the c

[2017-10-04 12:26] cmunden commented on #4287
@laxman3018 @BalusC

I ran the reproducer project and the scope of <code>@Component</code> is beyond request scope.  I ran it in debug mode and was clearly able to validate that the <code>CustomTableBuilder</code> was the same object reference on each request (with the constructor only being called once).

Also of note, the Exception that is being thrown in this case is not related specifically to

[2017-10-04 12:37] martin654 commented on #4244
Isn't the issue fixed in this changeset?
https://github.com/javaserverfaces/mojarra/commit/14e87ea57319012f02f0e3b09522d67c6d960378

[2017-10-04 13:10] arjantijms commented on #4244
@martin654

That change set is indeed in the 2_2 rolling branch and done a good while after 2.2.14 was released, so obviously it's not in 2.2.14.

@xinyuan-zhang @ren-zhijun-oracle It's probably high time to do a 2.2.15 release cut as well. What do you think?

[2017-10-04 17:37] laxman3018 commented on #4287
@BalusC  and @cmunden
I will try to attach another project with the same issue using pure XHTML and using Standard JAVA EE.

And the problem with our project is in one screen we have very huge set of component added into datatable in each column and that was taking much time to load the page, the dom structure was getting very heavy. so to make page load faster we have excluded some of the compone

[2017-10-06 09:15] omolenkamp commented on #4264
@arjantijms

That's true for the new CDI features introduced in JSF 2.3 (in particular the way implicit objects are handled), but using plain `@Named` CDI beans in EL was already supported in JSF 2.2, and should therefore continue to work in JSF 2.3 without having to add `@FacesConfig`:

[2017-10-06 10:00] omolenkamp opened #4294 "CDI @ManagedProperty fails when both a primitive and boxed type are used"
Deploying an application in which the CDI version of `@ManagedProperty` is used on both a primitive type and its boxed counterpart fails with an exception:

[code]

Using either type without the other works fine.

Sample code:

[code]

It looks like com.sun.faces.cdi.CdiExtension is adding a ManagedPropertyProducer for both the primitive and the boxed type, while only one should be added.

[2017-10-06 10:54] arjantijms commented on #4294
Thanks for the report. Your assessment sounds correct indeed, hope to be able to look at this soon.

[2017-10-06 11:01] hantsy commented on #4264
@omolenkamp When you change the version to 2.2 in `faces-config.xml`, all of the new features added in JSF 2.3 are worked(such as websocket, datetime, inject in converter, cdi alignment, el in facelets etc) ?

[2017-10-06 11:01] arjantijms commented on #4264
That's because of a very unfortunate bug that somehow went unnoticed despite all the testing that we did. I fixed it here: https://github.com/javaserverfaces/mojarra/commit/9662b559a51efa9224cfcc56c1277520d3c2a8ca

Hoping to release 2.3.3 soon with the help of @ren-zhijun-oracle and @edburns . This bug causes a lot of confusion really. If you have the time, please try building 2.3.3-SNAPSHOT and s

[2017-10-07 07:00] chris21k opened #4295 "custom exception factory broken in Mojarra 2.3.2"
In my project ([demo.war.zip](https://github.com/javaserverfaces/mojarra/files/1364372/demo.war.zip), source code included) under vanilla Tomcat 9.0.1 x64 and Oracle JRE 1.8.0u144 x64, I use the following custom exception factory:

[code]

Is there anything wrong with it? However, with Mojarra 2.3.2 pressing the button on the welcome page, i.e., tiggering a RuntimeException, the system throws an e

[2017-10-09 09:30] arjantijms commented on #4264
Hi, @xinyuan-zhang just did the 2.3.3 release. You can find the notes here: https://github.com/javaserverfaces/mojarra/releases/tag/2.3.3

Thanks @xinyuan-zhang

[2017-10-10 13:18] hantsy commented on #4264
More issues I found today.

I've added some examples for experiencing the DataModel related feature,  https://github.com/hantsy/ee8-sandbox/tree/master/jsf-data-model

1. CDI discovery-mode set to **all**.
2. There are some `@Model` applied on  the backing beans, they did not work unless I added `@FacesConfig` on the classes explictly. It is strange that if I do not add it, it will not work and **

[2017-10-10 13:26] xinyuan-zhang opened #4296 "Tracking bug for Bug 25419764 - JSF WARNING UNABLE TO SAFELY DETERMINE WHICH FACTORYMANAGER INSTANCE TO USE"

[2017-10-10 13:26] #4296 closed

[2017-10-10 13:28] xinyuan-zhang opened #4297 "Tracking bug for Bug 25811336 - INVALID VALUE IS APPEARED AFTER THE NEXT OPERATION WHEN IT FAILED A VALIDATION"

[2017-10-10 13:28] #4297 closed

[2017-10-10 13:32] arjantijms commented on #4264
@hantsy

That should definitely not have any influence. `@FacesConfig` is an annotation that's only read by a CDI Extension to enable a certain amount of build-in beans. Repeating it for multiple classes should have no effect. You might want to take a look at the Mojarra tests for this feature and see where it differs with your code.

[2017-10-10 13:50] xinyuan-zhang commented on #4244
Hi @arjantijms ,
I have just released Mojarra version 2.2.15, See
https://github.com/javaserverfaces/mojarra/releases/tag/2.2.15

Hi @martin654 ,
Mojarra 2.2.15 fixed this issue.

[2017-10-10 14:43] arjantijms commented on #4244
@xinyuan-zhang I saw it, thx! :)

[2017-10-11 02:16] xinyuan-zhang commented on #4244
Hi @jensberke ,
Mojarra 2.2.15 fixed this issue.

[2017-10-11 06:26] hantsy commented on #4264
@arjantijms Thanks. Checked out the source codes of mojarra.

[2017-10-11 07:53] jensberke commented on #4244
Hi @xinyuan-zhang. I tested it and can confirm that it's fixed in 2.2.15.

[2017-10-11 09:06] martin654 commented on #4244
@xinyuan-zhang Thanks for 2.2.15 release, it works!

[2017-10-12 15:45] 99sono opened #4298 "Mojarra HighCost of its Initialization Strategy - Classpath scanning - should be improved and more configurable"
Hi,

I am currently trying to optimize the deployment cost of a specific application.
I am looking at all layers of the application that induce deployment cost (e.g. eclipselink was one bottleneck see https://issues.jboss.org/browse/WFLY-9408)

But now I stumbled upon a bottleneck on Mojarra.

In an abitrary WAR application that I am looking at, on average, the cost of starting up Mojarra during t

[2017-10-12 15:48] stiemannkj1 commented on #4279
This fix has been merged to `2.2.x` as https://github.com/javaserverfaces/mojarra/commit/470a8b66bb13369bc31b3ffa8d07e2bf841ada9b and forward ported to `2.3.x` as https://github.com/javaserverfaces/mojarra/commit/390c2f3d41444a96e04e3a45b3fb5c2056dedfff and `master` as https://github.com/javaserverfaces/mojarra/commit/8942f84b5c4c80b4abcd38d92ced7b60e4e6b1ad.

[2017-10-12 15:48] #4279 closed

[2017-10-12 20:16] arjantijms commented on #4298
Hi,

Thanks a bunch for the report. I just started looking at this and found some other places were initialisation induces a high cost as well, such as a massive (1.2MB) file (`jsf-ri-runtime.xml`) being parsed at every deployment, as well as the `com.sun.faces.config.processor.FactoryConfigProcessor.verifyFactoriesExist()`, where specifically the `javax.faces.render.RenderKitFactory` takes relati

[2017-10-12 22:02] stiemannkj1 commented on #4224
This has been fixed by https://github.com/javaserverfaces/mojarra/commit/25f801738e7ae1d068234d33a30ffd930223a751 (vdldoc link) and https://github.com/javaserverfaces/mojarra/commit/2c8164011919290762238ae23b2e126b024d1341 (jsdoc link).

However the errors on the sourceforge downloads are actually due to the fact that JDK 1.7 does not contain the correct certificates (it's likely the missing letse

[2017-10-12 22:02] #4224 closed

[2017-10-12 22:22] stiemannkj1 commented on #4225
`2.1.29` should be built with JDK 1.6. Closing as "No Longer Reproducible."

[2017-10-12 22:22] #4225 closed

[2017-10-13 05:02] #4244 closed

[2017-10-13 06:12] 99sono commented on #4298
No Problem,
I would also recommend that at some point a deployment is tested against an apploication with many many useless libraries.
Just to pump dependencies into the web-inf/lib folder, that have nothing to do with JSF. Apache commons util or thinks like that.

Because, ultimately, it might be nice to have an approach that has higher cost of initialization if one absolutely needs mojarra to do

[2017-10-17 08:12] rdebusscher opened #4299 "Add rendered attribute to f:facet"
I have a footer which needs to be displayed conditionally. For the moment I have something like this.

[code]

This works, but the PrimeFaces data table still generates some HTML div element which leads to some borders drawn.
It can be solved by adjusting the PrimeFaces code but it makes sense to add this attribute to the f:facet (since all components have the attributes id, rendered and binding)

[2017-10-18 13:39] 99sono commented on #4298
Hi,

Please be aware that a bug is open to oracle as well on this Topic.
Mojarra is being initialized once jax-ws (@WebService) deployed on a WAR application.

What this means is, if you have a WAr application, with a faces-config.xml and you put in there 20 web services and try to deploy the application Weblogic, the deployment time will automatically baloon to 20 seconds or more

[2017-10-19 02:25] #4284 closed

[2017-10-20 13:18] rapster opened #4300 "facet with several child is wrapped into UIPanel and not UINamingContainer"
I have a facet like this:

[code]

Using `getFacet` method returns this as a `UIPanel` and not a `UINamingContainer`, I was wondering why? Origin of this question is here https://github.com/primefaces/primefaces/issues/2650 and there https://stackoverflow.com/questions/46171478/children-component-does-not-contain-id-parent-in-facet

[2017-10-20 15:08] 99sono commented on #4298
Hi,

Do you have an idea of when you might have been able to find a good solution for this bootsrapping cost? And will be made available on JSF 2.2.x?

Many thanks for all the help.

[2017-10-23 06:56] xinyuan-zhang opened #4302 "Tracking bug for Bug 26770850 - F:ATTRIBUTE CAUSING UNWANTED AM CHECKOUT"

[2017-10-23 06:56] #4302 closed

[2017-10-23 08:36] hantsy opened #4303 "Security 1.0 custom form login failed when using JSF 2.3"
I am trying to convert a security-soterio sample to JSF 2.3, but it does not work.

I have described the details on stackoverflow.

https://stackoverflow.com/questions/46842139/java-ee-security-1-0-custom-form-authentication-issues-when-using-jsf-2-3java-e

And today I am also trying create a  JSF 2.3 web application to integrate more features in Java EE 8, and I created a new project under my git

[2017-10-24 12:33] 99sono commented on #4298
Hi,
I am still waiting for some feedback on this.
Many thanks for any feedback.

[2017-10-24 13:00] arjantijms commented on #4298
I'm currently still working on it. I did a bunch of optimisations, but subsequently a number of tests started to fail. The init and especially factory code is quite hairy and sensitive, so I'm detangling that first, including some refactoring so I can better understand what's going on (i.e. the terms FactoryFinder and FactoryManager are both used for the same thing, making it hard to keep all that

[2017-10-26 11:08] mauromol opened #4304 "Conversion between string and enum not working properly when enum values are subclassed"
Using Mojarra 2.2.14.

Consider something like this:

    public enum MyEnum {
      ONE {
        public int getValue() { return 1; }
      },
      TWO {
        public int getValue() { return 2; }
      };

      public abstract int getValue();
    }

And a facelet like this:

    <p:selectOneRadio value="#{myBean.myEnumValue}">
      <f:selectItem itemLabel="First" itemValue="ONE" />
      <f:

[2017-10-26 14:08] sergey-morenets opened #4305 "JSF 2.3 fails to support WebSocket with Tomcat 9"
I tried to test new WebSocket feature with JSF 2.3.3(Glassfish implementation). I used Tomcat 9.0.1 as web server and followed this guide(https://javaserverfaces.github.io/whats-new-in-jsf23.html)

I created a managed bean:

[code]
updated index.xhtml:

[code]
And updated web.xml:

[code]
Unfortunately Tomcat failed to load application with an error:

    SEVERE [main] com.sun.faces.config.Configu

[2017-10-27 01:39] hantsy commented on #4295
@chris21k [My exception handler](https://github.com/hantsy/javaee8-jsf-sample/blob/master/src/main/java/com/github/hantsy/ee8sample/faces/DefaultExceptionHandler.java) for Java EE 8/Galssfish v5 is a little different from you, I have used similar codes in several projects before.

[2017-10-27 02:27] sergey-morenets opened #4306 "JSF 2.3 fails to support WebSocket with Jetty 9.4.7"
I tried to test new WebSocket feature with JSF 2.3.3(Glassfish implementation). I used Jetty 9.4.7 as web server and followed this guide(https://javaserverfaces.github.io/whats-new-in-jsf23.html)

I created a managed bean:

[code]
updated index.xhtml:

[code]
updated web.xml:

[code]
And created fake endpoint:

[code]
Jetty starts up properly but when I open index.xhtml I get a lot of error messag

[2017-10-27 10:54] chris21k commented on #4295
Aha, using

[code]

instead of

[code]

makes the example (and my app) run again. Although also the latter should work in my humble opinion and did work with Mojarra <= 2.3.1. Maybe a bug introduced in 2.3.2? Or do I miss something with the latter snipped?

Many thanks to @hantsy .

[2017-10-27 11:28] sergey-morenets commented on #4306
I made small investigation effort and it turned out that WebsocketSessionManager cannot be found because this code is run in the seperate thread created by Jetty(not connected to JSF lifecycle) and FacesContext is null.

[2017-10-27 11:58] arjantijms commented on #4306
A small comment: "FakeEndpoint" is typically only needed for Tyrus based Websocket implementations and not a general requirement for the feature.

[2017-10-27 12:05] sergey-morenets commented on #4306
Hi @arjantijms

Thank you for the comment. Unfortunately issue reproduces even if I remove this FakeEndpoint

[2017-10-27 12:14] sergey-morenets commented on #4305
I tried to use Tomcat 8.5.23 but still got the same error messages.

[2017-10-27 13:45] arjantijms commented on #4306
That's indeed expected, just wanted to mention that the FakeEndPoint is by far not always needed, but when it's there it shouldn't hurt either. @BalusC is the one most up to date with the actual specifics of what might go wrong here.

Thanks for the report btw! ;)

[2017-10-28 03:20] hantsy commented on #4305
@sergey-morenets  Where you called the `send` method in the controller.

[2017-10-28 06:30] sergey-morenets commented on #4305
Hi @hantsy

I call it in the button click handler in the same index.xhtml (here I supplied shortened version of this file).
But I even couldn't call it because
1) In the first case my web application fails to load with first exception
2) In the second case my web application starts up successfully but when I open index.xhtml I get second exception.

[2017-10-29 03:39] edburns commented on #4306
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:39] edburns commented on #4305
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:39] edburns commented on #4304
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:39] edburns commented on #4303
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:40] edburns commented on #4300
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:40] edburns commented on #4299
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:40] edburns commented on #4298
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:40] #4298 closed

[2017-10-29 03:40] edburns commented on #4295
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:40] edburns commented on #4294
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:40] edburns commented on #4293
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:40] edburns commented on #4292
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4287
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4281
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4280
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4280
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4278
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4273
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4271
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4269
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:41] edburns commented on #4265
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4264
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4263
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4263
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4262
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4261
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4260
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4251
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4245
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:42] edburns commented on #4241
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4239
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4238
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4236
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4234
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4228
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4226
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4220
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4216
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4211
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:43] edburns commented on #4201
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4200
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4194
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4193
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4191
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4189
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4188
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4184
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4176
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:44] edburns commented on #4168
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4166
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4156
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4153
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4145
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4144
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4143
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4140
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:45] edburns commented on #4139
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4126
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4125
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4120
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4117
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4116
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4107
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4106
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4100
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4095
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:46] edburns commented on #4093
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4087
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4086
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4085
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4084
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4082
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4073
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4071
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4052
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4033
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:47] edburns commented on #4024
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 03:48] edburns commented on #4023
Please see this important message regarding community contributions to
Mojarra.

https://javaee.groups.io/g/jsf-spec/message/30

Also, please consider joining that group, as that group has taken the
place of the old dev@javaserverfaces.java.net mailing list.

Thanks,

Ed Burns

[2017-10-29 08:51] chris21k commented on #4295
Using `ctx.redirect()` in a PhaseListener in Mojarra 2.3.3 also makes a/the similar problem throwing
` java.lang.UnsupportedOperationException: Unable to find the underlying Coyote request object (which is required to create a push request) from the request of type
[org.apache.catalina.connector.RequestFacade]`

It is again fixable in the app by instead using `NavigationHandler` similar to above w

[2017-10-29 11:19] SuperPat45 commented on #4278
Ok cmunde, I don' think about recursion although a Stack OverFlow would not bother me in this case as this would prevent there is a problem

[2017-10-30 18:45] arjantijms commented on #4298
@99sono

And slower moving bad maintained libraries ... well those would not.

Regarding the `*-taglib.xml` file name; it's not that simple to use a single name by convention. The issue is that one file declares a namespace, e.g. `http://omnifaces.org/functions` and that libraries not rarely need to declare multiple namespaces for multiple things.

You'd probably need a new file format for this to

[2017-11-01 11:06] 99sono commented on #4298
Hi arjantijms, many thanks for the feedback.

I understand the point. If you have more than one namespace, then you need more than one taglib, and this would be true for several important jsf based libraries.
Well then, what about having the possibility of giving the deployed application a single file:
taglib-index.xml

That would replace the convention of default-taglib.xml.
And then either via s

[2017-11-02 09:24] Species8372 commented on #2726
We also have this issue under heavy load only. The only way for us to circumvent this issue was to add a minor fix into UIComponent itself. There seems to be the case that the recursive call to popComponentFromEL does not always pop a component which leads to an endless-loop in the for-loop.

Here the section of code we altered inside popComponentFromEL.

      // check for the other unbalanced ca

[2017-11-02 09:32] Species8372 commented on #3827
We also have this issue under heavy load only. The only way for us to circumvent this issue was to add a minor fix into UIComponent itself. There seems to be the case that the recursive call to popComponentFromEL does not always pop a component which leads to an endless-loop in the for-loop.

Here the section of code we altered inside popComponentFromEL.

      // check for the other unbalanced ca

[2017-11-02 09:37] Quix0r commented on #4273
Was fallen off the radar, need to notify myself so I can bookmark it and work on it.

[2017-11-02 19:59] BalusC commented on #2726
This will happen when the component is not request scoped on contrary to the spec requirements. This will generally happen when it's via `binding` attribute being bound to a broader scoped bean.

Related: https://stackoverflow.com/q/14911158/157882

[2017-11-03 07:37] 99sono commented on #4298
Another thing that might also be a not a bad idea, is to run the hunt to faces-config.xml and tag libraries in parallel.

Something like:
List<Runnable> huntingActionsThatCanRunInParallel = ..;
add(huntForFacesConfig)
add(huntForTagLibgFiles)
huntingActionsThatCanRunInParallel.parallelStream().forEach(currentRunnable -> currentRunnable.run())

And those two actions would be done simulateneously.
T

[2017-11-03 12:48] fabiyo opened #4308 "Injection in FacesConverter not working"
Using JSF 2.3.0 on EAP 7

This is my code:

[code]

[code]

[code]

[code]

I am always getting NPE in getAsObject in the faces converter because the injected Web object is always null.

[2017-11-03 13:54] arjantijms commented on #4308
Which Mojarra version are you using? Do you mean Mojarra 2.3.0 with JSF 2.3.0?

[2017-11-03 14:23] fabiyo commented on #4308
Yes Mojarra 2.3.0 with JSF 2.3.0

[2017-11-03 14:39] fabiyo commented on #4308
Btw, my workaround is:

[code]

This simulates the CDI injection as should be done by JSF.

[2017-11-03 14:44] arjantijms commented on #4308
You might want to try the current 2.3.3 version and see how that works. In general, injection this relatively straightforward injection *should* really work as there are tests for this. Your specific situation is likely different somewhere, so quite puzzling.

[2017-11-03 15:52] fabiyo commented on #4308
Ok, I will try the 2.3.3 setup next week. Will keep you posted.

Meanwhile, I found here another issue which looks very similar, except it is for faces validators:

https://github.com/javaserverfaces/mojarra/issues/4245

Could this be related? injection in validators _should_ also work ;-)

[2017-11-03 17:06] BalusC commented on #3827
Duplicates #2726

[2017-11-03 18:45] arjantijms commented on #4308
I’ve given this some thought and there might be another possible reason.

The problem is that it’s not clearly defined which bean archive(s) CDI.current() applies to. In some servers, CDI.current() only sees the server classes when being called from a server jar (which Mojarra is, when included in the modules folder of WildFly).

The bean manager obtained via JNDI seems to always see classes in bo

[2017-11-03 18:49] arjantijms commented on #4308
Ok, I just checked and CdiUtils#createConverter uses the JNDI bean manager, so this can’t really be the issue here.

[2017-11-04 11:28] fabiyo commented on #4308
The CDI.current() is the workaround which works. I'm using this but it is kinda ugly =) It is the @Inject which is not working. Could it maybe be the EAP version 7.0.X? I am not at work right now but I believe I use 7.0.0.

[2017-11-04 11:42] arjantijms commented on #4308
I know, but you are calling CDI.current() from the context of your application code. It can be different when called from a jar that resides within the container.

[2017-11-08 23:52] aguibert opened #4309 "Mojarra API gives NPE if user accidentally uses Mojarra API with non-Mojarra JSF impl"
It is rather strange that the JSF API is not portable across other implementations, so this is something that is reasonable for users to get wrong when writing a JSF application.  It would be nice if the Mojarra flavor of the JSF API could clearly warn the user if they are not using a Mojarra JSF implementation early on in JSF initialization.

Additionally, it would be nice if some future rev of t

[2017-11-09 00:17] aguibert commented on #4309
Also, if things are mixed up the other way around (Mojarra API w/ other JSF impl) we get the following error because the `javax.faces.FactoryFinderInstance` needs to import the `com.sun.faces.spi.InjectionProvider` class.

[code]

[2017-11-09 08:00] BalusC commented on #4309
I'd like to clarify here that JSF API is already implementation agnostic. It's just that MyFaces has chosen to write their own JSF API classes.

[2017-11-09 08:20] arjantijms commented on #4309
The Mojarra API jar is only intended to be used to compile against. Due to historical reasons the API contains code indeed, which can not easily be undone.

The API jar should not be part of the runtime.

[2017-11-09 14:25] aguibert commented on #4309
I don't understand how the JSF API could be excluded at runtime, then where would `javax.faces.*` classes be loaded from?  If I am truly misunderstanding this port, then the rest of this comment will all be moot.

I understand that JSF has a long history, and am not asking the API-Impl dependencies to be untangled here.  I am just suggesting that a check could be made early on in JSF initializatio

[2017-11-09 15:18] arjantijms commented on #4309
The only jar that should be on the runtime class path is the full mojarra jar, which contains both the API and implementation classes.

A proper JDK 9 build *may* make the existence of the API jar obsolete.

I'll try to see if we can do the kind of check you've asked for indeed,  but maybe there are much more such places that would need guards. I'll think about this a little. Thx for your report!

[2017-11-09 15:34] aguibert commented on #4309
Thanks for clarifying Arjan!  Where would someone get the full mojarra jar?  I've been getting the individual pieces from maven here:
https://mvnrepository.com/artifact/com.sun.faces/jsf-api/2.2.14
https://mvnrepository.com/artifact/com.sun.faces/jsf-impl/2.2.14

Side note:
In case you are familiar with Liberty (or OpenLiberty), I'm working on a feature called `jsfContainer-2.2` which will allow p

[2017-11-09 15:52] BalusC commented on #4309
Single JARs can be found in org.glassfish:javax.faces repo.
https://mvnrepository.com/artifact/org.glassfish/javax.faces/2.2.14

[2017-11-10 13:58] fabiyo commented on #4308
I installed 2.3.3, but unfortunately still NPE.

FYI, when putting `FacesContext.class.getPackage().getImplementationVersion()` in the code it prints 2.3.3.

EAP version is 7.0.0

In installed following this guide: https://docs.jboss.org/author/display/WFLY10/JSF+Configuration
Split the jar following this guide: https://stackoverflow.com/questions/35899887/how-to-install-one-jar-variant-of-jsf-jav

[2017-11-10 14:47] fabiyo commented on #4308
Also a little bit off topic, but the usage of @FacesConfig is really new to me. I based a presentation on your blog: http://arjan-tijms.omnifaces.org/p/jsf-23.html

Maybe you could add a word there about this new annotation that in fact is mandatory (correct?) to enable full 2.3 mode?

[2017-11-10 14:49] arjantijms commented on #4308
I should indeed still write something about that, it's on my TODO but didn't find the time yet. I've no idea yet why in EAP 7 you're seeing those issues. I'll have to debug it I guess...

[2017-11-10 14:57] fabiyo commented on #4308
Thanks.

If I may be so rude to make a wild suggestion, EAP 7 uses a specific JSF injection jar. Maybe there is something wrong there. I suppose it was designed for JSF 2.2... Anyway, if I can be of any help, let me know.

[2017-11-10 15:22] arjantijms commented on #4308
The injection SPI itself did not change between 2.2 and 2.3 really. In 2.4 there’s a change again, but as far as a remember not in 2.3.

But more importantly, for CDI injection with managed = true, Mojarra requests the full bean instance from CDI and doesn’t do anything with it itself, so the SPI does not come into play.

[2017-11-10 18:47] dmatej commented on #4308
I am not sure about this situation but I could not inject for example ExternalContext on Payara 5 until I declared version 2.0 in beans.xml. Then it worked. My beans.xml:
[code]
The  `@FacesConfig(version = Version.JSF_2_3)` annotation is used too.

[2017-11-12 16:38] fabiyo commented on #4308
I'm not using beans.xml

[2017-12-11 14:25] 1Kamikazzze1 opened #4311 "JSF input fields not working properly after Validation error"
Hi,

I made a small sample project at the following location:
https://github.com/1Kamikazzze1/jsfvalidationerror

The project runs on an tomcat 8.5.15.
    JSF-API: 2.2
    JSF-Impl: 2.2.15
    Weld-Servlet: 2.4.5-Final
    Hibernate-Validator: 6.0.2.Final

In the web.xml there are 2 context parameters set:
    javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL=true
    javax.faces.VALIDA

[2017-12-19 12:06] svenhaag commented on #4126
I have the same issue. f:ajax even is not necessary to reproduce it. Affected version 2.3.3.

[2017-12-20 13:07] akrikheli opened #4312 "Multiple browser tabs or windows with the same ViewScoped bean class"
Using Payara Server  4.1.2.174 with mojarra 2.2.15.

I have a simple Named Bean with scope _javax.faces.view.ViewScoped_.

    private String name;
    public String getName()
    {
        return name;
    }
    public void setName(String name)
    {
        this.name = name;
    }
    public String action()
    {
        logger.log(Level.SEVERE, "{0}.action()", this);
        logger.log(Level.SE

[2017-12-20 23:39] BalusC opened #4313 "<f:validateWholeBean> broken when referencing a bean property"
`<f:validateWholeBean>` works fine when used directly on a managed bean as documented.
[code]
However, it fails when used on a managed bean property.
[code]
EL will throw the following exception:
[code]
It turns out that `<f:validateWholeBean>` unintentionally executes the update model values phase as well. This has to be skipped in `UIValidateWholeBean`.

[2017-12-20 23:40] BalusC commented on #4313
Work around for now:
[code]

[2017-12-20 23:40] edburns opened #4314 "Implement spec issue 1455: support ctor injection for Table 5-3 artifacts"
[See the spec isseu](https://github.com/javaee/javaserverfaces-spec/issues/1455)

[2017-12-20 23:41] edburns commented on #4314
We have an existing automated test that validates that field and setter
injection works for many of the artifacts in table 5-3.  I set a
breakpoint in the ctor in one of those artifacts, a StateManager.  Here
is the stack trace:

FacesConfigStateManager.<init>:52
Hidden Source Calls
Constructor.newInstance:423
AbstractConfigProcessor.createInstance:327
ApplicationConfigProcessor.setStateManager:63

[2017-12-21 01:14] arjantijms commented on #4314
I didn't look at this issue extensively, but as a quick comment there are basically two main modes for realising CDI injection:

* Making the artefact fully a CDI managed bean. This is done for only a limited set of artefacts, which can be seen here: https://github.com/javaserverfaces/mojarra/blob/master/impl/src/main/java/com/sun/faces/cdi/CdiUtils.java#L103 (they are all the createXYZ methods)
*

[2017-12-22 17:01] pzygielo opened #4315 "JSF 2.3 build fails on clean maven repository"
Build of MOJARRA_2_3X_ROLLING (currently pointing to e50f41958f) **fails**, when executed on clean/empty local maven repository, due to missing `jsf-tools`:

`jsf-tools`'s version was bumped to 2.3.4-SNAPSHOT (and this version is installed in first step of build), while version of `impl` was kept as 2.3.3-SNAPSHOT.

[2017-12-27 06:15] #4315 closed

[2018-01-09 12:09] akrikheli commented on #4312
The further researches have shown that this bug appeared since 2.2.13 version.
The correct behaviour was broken by commit c73283a6770191ff4f47c24234fa93d92dfdf0e0.

[2018-01-09 12:54] arjantijms commented on #4312
Thanks for this report, I haven't looked at this is detail yet but if its indeed the case it sounds serious enough. Hopefully I'll be able to find the time to look into this soon. Thanks again!

[2018-01-21 20:33] BalusC opened #4324 "@FacesConverter(managed=true) on Converter<SuperClass> broken"
com.sun.faces.cdi.CdiUtils#createConverter() must retry finding CDI converter by forClass.getSuperClass() until non-null is returned.

Real world scenario:
[code]

[code]
This is successfully resolved as JSF converter but not as CDI converter.

[2018-01-23 15:19] aurelienpernoud commented on #4019
Hello, looking at the master of 2.3 this code is still there...
Is this ticket really closed ?

[2018-01-24 17:21] ferusm opened #4326 "RestoreDynamicActions performance degradation."
I have that problem when page  periodically send ajax request to server.
Setup:
Wildfly 11
Mojarra 2.2.16
Primefaces 5.3
Progress Bar periodically updates its value with an interval of 1000 (1 s)

![ic5k1](https://user-images.githubusercontent.com/6002995/35346548-95bf4226-0143-11e8-9413-d3c511f2d6f3.png)

[2018-01-26 10:59] Selaron opened #4327 "TagValueExpression eventually resolves wrong result for #{cc} in composite component."
When `com.sun.faces.component.search.SearchExpressionHandlerImpl.resolveClientId` is triggered by a component insite a Composite Component B, traversiong the viewRoot through components including an other Composite Component A, #{cc} in componentA.xhtml resolves to Composite Component B implementor class.

This may result into a `javax.el.PropertyNotFoundException`:

Versions affected:
Mojarra 2.3

[2018-01-26 12:49] Selaron commented on #4327
[reproducer.zip](https://github.com/javaserverfaces/mojarra/files/1667722/reproducer.zip)

Reproducer web application.

1. Invoke using `mvn clean package jetty:run`
2. Navigate to `http://localhost:8080/reproducer/welcome.jsf`
3. Look at the exception and stack trace.

[2018-01-26 14:55] comfortandintensity commented on #4245
I started using `@FacesValidator` in my current project with JSF Mojarra 2.3.3 and would like to confirm the behavior mentioned by chris21K, except I am using EAP 7.0.0 with CDI 1.2 and Java 8.

I only get it to work annotating the FacesValidator with `@Dependent` (or adding beans.xml with beand-discovery-mode="all" or calling the injectable bean with CDI.current()...) AND adding to the `@FacesVal

[2018-01-27 14:43] jimyikes opened #4328 "Windows paths passed to yuicompressor are mangled"
Cloned MOJARRA_2_3X_ROLLING, and ran the two mvn clean install steps.

During "impl", yuicompressor receives the input/output paths and is stripping off the drive name and path separators (probably because they aren't escaped).  Not sure why this wouldn't affect other contributors building on Windows.

mvn output showing "correct" paths being passed to yuicompressor as arguments.

[code]

The Exce

[2018-01-28 12:03] BalusC commented on #4313
To do: add unit test.

[2018-01-28 12:11] BalusC commented on #4324
To do: add unit test.

[2018-01-31 09:05] Selaron opened #4329 "Server Push frequently fails with nested resources"
Mojarra 2.3.3 implementation of Server Push seemes to frequently produce protocol violations when handling nested resources.
A nested resource is e.g. a CSS file which points to an image:

The more resources the CSS references, the lower the likelyhood of pushing it all to the client. In case of an error, the web page does completely or partially fail to load / render and is not usable.

Tested wi

[2018-01-31 10:02] Selaron commented on #4329
[issue4329.zip](https://github.com/javaserverfaces/mojarra/files/1681217/issue4329.zip)

Small webapp and instructions to reproduce this issue.

Requires Apache Maven, Apache tomcat 9, OpenSSL if JDK 8 is used, JDK 9 if OpenSSL is not present.

[2018-02-05 20:29] dmschlot commented on #4281
Great to see there is a pull request already to fix this. This is a large bug for us and causing me to run a forked version of JSF.

All my HTML is valid XML, and XML serializers do not always allow you to control where namespaces are added. Inline SVGs are common enough that I feel it is a pretty good example of why this should be fixed. (Searching Google you'll find half the examples out there h

[2018-02-08 07:15] cnsgithub opened #4330 "selectManyCheckbox: disabled values are accepted"
## 1) Environment
- Version: 2.3.3

## 2) Expected behavior
Values of disabled components may never be accepted by the server, albeit submitted by the client.

## 3) Actual behavior
Select items that are disabled via `f:selectItem itemDisabled="true"` or `SelectItem:setDisabled(true)` are rendered correctly (grayed out), however may be bypassed by the client cause of missing checks on the server s

[2018-02-11 12:08] BalusC opened #4331 "Adding new search keyword resolver via faces-config.xml has no effect"
Adding new search keyword resolver via faces-config.xml has no effect. Only programmatic registration works.

Technical problem is: search keyword resolvers from faces config are added in constructor of `ApplicationImpl`. However, this is executed before `ApplicationConfigProcessor` collects them.

[2018-02-11 12:25] BalusC opened #4332 "Backport o:socket fix #434 on f:websocket"
Socket stops working when synchronous postback is performed on same view.

[2018-02-11 13:00] #4332 closed

[2018-02-11 13:11] BalusC commented on #4313
IT has been added

[2018-02-11 13:11] #4313 closed

[2018-02-11 13:46] BalusC commented on #4324
IT has been added.

[2018-02-11 13:46] #4324 closed

[2018-02-11 14:16] #4331 closed

[2018-02-11 15:38] BalusC commented on #4330
Thanks for reporting!

[2018-02-12 12:42] cnsgithub commented on #4330
@BalusC Thanks! Is there a snapshot build that contains your fix? I just wanted to test it, however jsf-impl is not currently building properly in my environment.

[2018-02-12 13:23] cnsgithub commented on #4330
@BalusC I tested your fix and can confirm that it properly works in parts.

It doesn't work for initially preselected/checked but disabled values. You may simply reproduce this by changing `Issue4300.java ` to this:
[code]

Then either press the submit button immediately or optionally press the hack button and check 'disabled' first, no matter - the state of the disabled value will change.

That's

[2018-02-14 10:11] BerndMuller opened #4333 "Phase listener by f:phaseListener swallows restore view"
PhaseListener with ANY_PHASE registered in faces-config.xml gets called in RESTORE_VIEW
but not called if registered by f:phaseListener.

To my knowledge they should behave identical.

Maven project includes all to reproduce

[phase-listener.tgz.txt](https://github.com/javaserverfaces/mojarra/files/1723456/phase-listener.tgz.txt)

[2018-02-14 10:14] BerndMuller commented on #4333
sorry, forgot to mention: tried on Payara Payara 5..Beta2 with Mojarra 2.4.0-m01-SNAPSHOT

[2018-02-15 07:41] reiudo opened #4337 "Command button invokes wrong action method"
Consider the following JSF page snippet:

[code]

When you click 'Button 1', both action methods (#{controller.button1Pressed()} and #{controller.button2Pressed()}) will be invoked. This happens, when the id of the first button starts with the id of the second button.
Interestingly this doesn't happen, when Button 1 doesn't have the <f:ajax> tag.

[2018-02-15 11:38] reiudo commented on #4337
A short analysis shows the following:

The code (from com.sun.faces.renderkit.html_basic.ButtonRenderer)
[code]
returns true for both of the following constellations:

BEHAVIOR_SOURCE_PARAM.getValue(context): TestPage:fooBarBaz
clientId: TestPage:fooBarBaz

BEHAVIOR_SOURCE_PARAM.getValue(context): TestPage:fooBarBaz
clientId: TestPage:fooBar

[2018-02-15 19:48] xqvier opened #4338 "Call pushComponentToEL() in findComponent() method"
This is a discussion about the currently expected behavior of the JSF spec for the `UIComponent.invokeOnComponent()` method. I wrote this question on [stackoverflow](https://stackoverflow.com/q/48351101/3463251) but as it seems to be a mojarra (or spec?) bug i'll copy/paste it here

# Summary

I encountered an unexpected behavior while using 2 composite component with 2 different backing component

[2018-02-16 15:20] reiudo commented on #4308
I'm facing the same issue with JSF 2.3.3. Moreover JSF 2.3.3 breaks the injection in converters that was enabled by Apache DeltaSpike (https://deltaspike.apache.org/documentation/jsf.html#InjectioninJSFArtifacts).

[2018-02-16 16:04] #4337 closed

[2018-02-16 16:14] BalusC commented on #4330
It's indeed a separate issue which already exist before the fix. Let's reopen #2559.

[2018-02-16 16:14] #4330 closed

[2018-02-16 16:14] BalusC commented on #2559
Reopening as this issue is still present and it's unclear which duplicate it's originally being closed of.

[2018-02-16 16:17] BalusC commented on #4308
Is there a JSF 2.3 compatible version of Deltaspike?

[2018-02-19 08:47] reiudo commented on #4308
I have attached a minimal project to reproduce the issue, which has only the following dependencies:

javaee-web-api 8.0
javax.faces 2.3.3
jstl 1.2
weld-servlet-shaded 3.0.0.Final

I tested on Tomcat 7.0.47 and 8.5.13.

[Jsf23Test.zip](https://github.com/javaserverfaces/mojarra/files/1735991/Jsf23Test.zip)

[2018-02-19 09:28] reiudo commented on #4308
I finally got the injection in my minimal project working. But I had actual to annotate the bean with @FacesConfig(version=Version.JSF_2_3). This doesn't seem to be an option, as we have to access CDI services from our business layers in which we have no refence to JSF ant thus cannot use @FacesConfig. Btw. I also had to annotate the injection point with the additional qualifier @Any though the be

[2018-02-19 09:56] arjantijms commented on #4308
For the JSF application, `@FacesConfig` has to be present once. You don't have to actually annotate the CDI bean that you want to inject with it, it can be present on any bean within the web layer.

[2018-02-26 08:33] BalusC opened #4339 "Nested <cc:insertChildren> generates wrong client ID"
https://stackoverflow.com/q/48857301/157882

`test.xhtml`
[code]
`level1.xhtml`
[code]
`level2.xhtml`
[code]
`level3.xhtml`
[code]

Expectation is that submit button mentions as client ID `form:level1:level2:level3`, however instead it says `form:level1:level3` and causes that the `com.sun.faces.component.visit.PartialVisitContext`, which in turn correctly finds `level2`, cannot find the target bu

[2018-03-06 15:11] stiemannkj1 opened #4340 "Script resources in <body> are never run during Ajax requests"
### Steps to Reproduce:

1. Create the following 3 files in a webapp:

    **`index.xhtml`**:

[code]

    **`result.xhtml`**

[code]

    **`result.js`**:

[code]

2. Navigate to **`index.xhtml`**.
3. Click the *result.xhtml* button to navigate to **`result.xhtml`**.

If the bug still exists, an empty page will appear indicating that **`result.js`** has not been loaded.

If the bug is fixed, then

[2018-03-06 19:17] #4340 closed

[2018-03-06 22:06] stiemannkj1 opened #4345 "JSF script and link resource urls params are HTML escaped twice when added via Ajax"
### Steps to reproduce:

1. Add the following files to a webapp:

    **`issue4345start.xhtml`**:

[code]

    **`issue4345result.xhtml`**:

[code]

    **`issue4345.js`**:

[code]

    **`issue4345.css`**

[code]

2. Navigate to **`issue4345start.xhtml`**.
3. Click the *issue4345result.xhtml* button.

If the bug still exists, "SUCCESS" will not appear.

If the bug is fixed, "SUCCESS" will appear,

[2018-03-06 22:20] stiemannkj1 opened #4346 "jsf.js stripScripts and stripAndRunStylesheets methods do not strip the actual values from the response"
`stripScripts()` and `stripAndRunStylesheets()` either need to be renamed or changed to actually strip the scripts and stylesheets from the partial response.

[2018-03-07 15:20] #4345 closed

[2018-03-07 17:41] #4346 closed

[2018-03-16 09:29] bigbonsai opened #4354 "Update @all inside a form lead to javascript error."
[Stackoverflow](https://stackoverflow.com/questions/49071292/primefaces-and-jsf-2-3-javascript-error-cannot-read-property-error-of-null)

Seems like the component resources are available (see PrimeFaces HeadRenderer) in the postback but somehow they are not rendered in the response inside the head tag.

NOTE: this will only happen with update=@all as otherwise the head-tag won't be replaced.

Disc

[2018-03-16 13:04] svenhaag opened #4355 "h:link (HtmlCommandLink) does not support converters"
The HtmlCommandLink component does not provide javax.faces.convert.Converter support to convert the displayed output-text, neither as attribute nor as child (e.g. f:validator).

[2018-03-16 13:16] reiudo commented on #4355
Have a look at https://stackoverflow.com/questions/6098279/jsf-convert-value-for-hcommandlink-display.

But I seem to remember that there is no way to specify a converter for the label of a <h:commandButton>.

[2018-03-16 13:29] svenhaag commented on #4355
Thanks for the hint! However, I think, having a converter attribute is sort of common and should be present on all components rendering an output text, right?

[2018-03-16 13:33] reiudo commented on #4355
You are welcome. I'm just a 'user' of JSF but I would vote for your request.

[2018-03-17 14:55] muellermi opened #4356 "Make websocket bidirectional"
I suggest to add a "source" attribute to websocket

 <f:websocket channel="events" source="mySourceId" ...

If source is declared and it refers to an input element, then on every change (or blur?) event of that element it's content will be submitted to the server via the websocket channel.

Using an additional attribute "onSourceEvent" may specify a different event (e.g. key press) to trigger the

[2018-03-17 14:55] muellermi opened #4357 "Hide JS from websocket to become more JSF alike"
Although a JSF user might use the JavaScript API to start an ajax request, most simply use the f:ajax tag. JSF tags usually hide away HTML and/or JavaScript stuff, but websocket.

Consider this page excerpt of a definition:

    <f:websocket channel="events" onmessage="eventListener" />

    <script type="text/javascript">
      //<![CDATA[
      function eventListener(message, channel, event) {

[2018-03-19 10:14] Selaron commented on #4329
The root cause is an issue in Apache Tomcat implementation which is to be fixed as of Apache Tomcat 9.0.7 + 8.5.30.

Issue 62177 https://bz.apache.org/bugzilla/show_bug.cgi?id=62177

[2018-03-22 17:53] stiemannkj1 commented on #4191
@edburns, @xinyuan-zhang, I've signed the OCA, so my code should be able to be merged. But I'd appreciate any insight either of you have into whether the change violates the JSF Spec or not.

[2018-03-29 16:08] stiemannkj1 opened #4358 "The wrong content type of "text/html" is set for execute "@all" Ajax responses"
## Steps to reproduce:

1. Clone the [wrong-content-type-ajax-excecute-all-reproducer](https://github.com/stiemannkj1/wrong-content-type-ajax-excecute-all-reproducer) project:

[code]

2. Build the project:

[code]

3. Deploy the project to Tomcat:

[code]

4. Navigate to the deployed webapp at [http://localhost:8080/wrong-content-type-ajax-excecute-all-reproducer/](http://localhost:8080/wrong-con

[2018-03-29 16:24] stiemannkj1 commented on #4358
A similar bug (but worse since it affects all Ajax responses) exists in MyFaces: https://issues.apache.org/jira/browse/MYFACES-4214.

[2018-03-29 16:27] stiemannkj1 commented on #4358
To work around this bug, avoid using `execute="@all"`.

[2018-03-29 22:50] Quix0r commented on #2579
Still an issue with latest 2.3.3 code, see my stackoverflow question: https://stackoverflow.com/questions/45537018/doctype-not-rendered-in-jsf-master-template

[2018-03-29 22:52] Quix0r commented on #4245
I took the `CDI.current() approach` but only once, then the discovered bean is stored in a `private static` field to avoid such "expensive" calls as CDI look-ups are.

[2018-03-30 19:26] stiemannkj1 commented on #4358
This issue has been fix in `2.3.x` and `2.2.x`. It still needs to be fixed in `2.4.x`/`master`, but there is a code freeze right now. Once `master` can be changed, this PR should be merged: https://github.com/javaserverfaces/mojarra/pull/4359

[2018-03-30 21:21] arjantijms commented on #4358
I'm not sure if that branch will ever be unfrozen, or directly be set to read-only/archived mode.

As Mojarra will be transferred to Eclipse all development will continue there. At a minimum there won't be any more releases from the repos here, as the final release has just been done: https://maven.java.net/content/repositories/releases/org/glassfish/javax.faces/2.4.0/

[2018-04-07 07:50] BalusC commented on #4357
<f:websocket> supports <f:ajax>.

[2018-04-07 08:12] BalusC commented on #4356
<f:websocket> is [purposefully](https://javaee.github.io/javaee-spec/javadocs/javax/faces/push/Push.html#usage-server) unidirectional as the other direction doesn't allow maintaining the view state and checking security constraints. For that you can keep using <f:ajax>.

[2018-04-07 08:12] #4356 closed

[2018-04-07 08:15] BalusC commented on #4305
This will happen when the runtime classpath is polluted with multiple Mojarra implementations.

Closing off as user error.

[2018-04-07 08:15] #4305 closed

[2018-04-07 08:16] BalusC commented on #4299
You can use `<c:if>` instead to conditionally build the view.

[2018-04-07 08:24] rdebusscher commented on #4299
But c:if doesn't include the node into the component tree. So when the footer is required after an ajax update, it is not possible.

[2018-04-07 14:48] BalusC commented on #4299
True that. As work around you could rebuild the view in the ajax listener method.

Adding `rendered` attribute to `<f:facet>` isn't really doable. The issue is here more in PrimeFaces `DataTableRenderer`. It should actually check if all first children of the `<f:facet>` are rendered and if so then only render the `<div>` around it.

[2018-04-07 14:56] rdebusscher commented on #4299
I already updated PrimeFaces for this, but it seemed me logical that there was also a `rendered` attribute on `f:facet`.

[2018-04-07 15:14] BalusC commented on #4299
A `disabled` attribute would be more suitable but then PrimeFaces still has to check it as well.

[2018-04-17 15:15] orangetw opened #4364 "Where Can I Report Security Vulnerability?"
I found a vulnerability in the latest version of Mojarra (vulnerable by default). But I can't find any security related mail from websites.

Where can I report my finding?

[2018-04-17 18:33] orangetw commented on #4364
I tested the latest stable version 2.3.4. I also checked the master branch and seems the code not change too much. I will send my report in a few days!

Thanks!

[2018-04-18 02:42] fuinhaazulgit opened #4365 "Dynamically add AjaxBehavior throws NullPointerException"
Hi there!

I´m trying to add some ajax listeners using mojarra **(tested with 2.2 and 2.3)** and i receive a NullPointerException.
**Using Myfaces everything works fine.**

Exception:
[code]

Code:
[code]

And yes, AjaxBehavior is a primefaces class, but using myfaces this code works, so after a lot of tries my conclusion is that there is a bug on this scenario.

Tested with a lot of different ser

[2018-04-18 09:37] spheenik opened #4366 "@Produces @ViewScoped @Named bean gets put into Viewscope with wrong name"
I have a bean with several `@Produces @Named("someName") @ViewScoped` producers which all return ArrayLists. After debugging for hours I finally found the culprit. jsf-impl contains a `com.sun.faces.application.view.ViewScopeContextManager.java` with the following method:
[code]

This gets called whenever `instance` is put into the ViewScope to find out it's name.
In my case, this returns 'arrayLi

[2018-04-18 10:12] arjantijms commented on #4366
Thanks for the report.

This is another case of where Java EE code looks directly at classes and forgets that in CDI things are a bit more dynamic. Various interceptors that try to grab the annotation attributes (e.g. the ones from @Transactional) have the same issue if that annotation is dynamically added.

I'm not sure how to address this right now. May need some help from the CDI spec or in the

[2018-04-18 10:59] spheenik commented on #4366
@BalusC: This answers your question [here](https://stackoverflow.com/questions/24748673/jsf-2-2-viewscoped-mojarra-weld-2-2-3-produces-map-for-selectitems-throws-ja/49895555#comment51204209_24748673).

[2018-04-18 11:45] fuinhaazulgit commented on #4365
Just to add:

Same problem seems to happen with other people:

https://stackoverflow.com/questions/41424132/not-able-to-add-new-ajax-behavior-to-primefaces-datatable-dynamically-when-it-al

[2018-04-18 18:10] orangetw commented on #4364
Seems this is a bot's action...

[2018-04-18 18:25] orangetw commented on #4364
@arjantijms OK, but I still don't get any confirm from him...

[2018-04-19 01:11] javaserverfaces commented on #4364
@orangetw sorry for late. yes, you can send the report to me and I also need to clarify how to handle with the vulnerability in the current context.

[2018-04-19 15:38] orangetw commented on #4364
@javaserverfaces @ren-zhijun-oracle
Hi, I have send the report to above email! Thanks :)

[2018-04-19 23:27] balta3 opened #4367 "Primitive types cause a NullPointerException in CdiUtils.createConverter"
When using a primitive type, I get the following exception in 2.3.4:

Caused by: java.lang.NullPointerException
	at com.sun.faces.cdi.CdiUtils.createConverter(CdiUtils.java:125) ~[javax.faces-2.3.4.jar:2.3.4]

It is working using 2.3.3

[2018-04-22 20:50] zonia3000 opened #4368 "Websocket PushContext not working anymore after application redeploy"
Hi,
I'm trying the new JSF features.
I used this example on GlassFish 5 (build 25):
https://github.com/hantsy/ee8-sandbox/tree/master/jsf-websocket

At the first deploy all is working fine, but if I undeploy the application and then redeploy it, the push messages are no longer sent. No exception is thrown during the call of the method `push.send("msg")`, however I noticed this exception during the

[2018-04-28 21:31] mlarue commented on #4368
Same here. Tested with WildFly 12 and Payara 5

[2018-05-04 09:40] cnsgithub opened #4370 "Partial rendering: insufficient CDATA encoding"
## 1) Environment
- Mojarra version: 2.3.2

## 2) Expected behavior
Using CDATA end tag `]]>` within submitted ajax strings must not break things when included in partial response.

## 3) Actual behavior
Client side partial response processing gets aborted. This issue may lead to partial response (XML) injection/XSS as seen in https://github.com/primefaces/primefaces/issues/3623 and reported in ht

[2018-05-05 15:52] prince-jn opened #4371 "Required validator not performed on unsubmitted value"
Not really sure if it's a security hole, a bug or the correct behavior but...

**Explanation :**
I can submit a form without any value submitted and my action is getting invoked.

**How :**
Just use the firefox tools (edit and resend request) and remove your input value.

**Code :**
[code]

**Question :**
It is normal? How can I enforce the required validation? Thanks

[2018-05-11 10:58] nonono-n opened #4373 "Nested <ui:include> of template <ui:composition>"
I want to create a shared template file, and two composition file refering the shared template file.
Besides a main file includes the composition_1 file, and the composition_1 file includes the composition_2 file.

I think the correct result of following sample is
[component_1.xhtml insert-1]
[component_2.xhtml insert-1]
[component_2.xhtml insert-2]
[component_1.xhtml insert-2]

but I got this res

[2018-05-23 15:20] kguelzau commented on #4082
This will not be fixed until somebody who signed the OCA contributes a PR, correct?
Or will @xinyuan-zhang apply the patch by dlichtenberger?

Roughly 80% of CPU Time of our application is spend in these methods :-\

[2018-05-31 14:24] kukel commented on #4371
Please create a http://stackoverflow.com/help/mcve

[2018-06-04 21:17] wsaca commented on #4358
@stiemannkj1 If I set the execute attribute to "@all" my code is not working. That's correct?
"@all" should have the same behavior like "@form", but that's not happening and I'm getting this error "java.lang.IllegalArgumentException: Unrecognized Content Type". This change was released in 2.3.4 and 2.3.5 but not in 2.4.0. Could you clarify this?

[2018-06-04 22:40] stiemannkj1 commented on #4358
@Lynx12, it's possible that I broke something with this change, could you provide more details about your app and the stack trace for the `IllegalArgumentException`?

[2018-06-04 22:57] stiemannkj1 commented on #4358
@Lynx12, perhaps you need to make a change similar to the one the joinfaces folks made here: https://github.com/joinfaces/joinfaces-maven-jar-example/pull/158

[2018-06-05 14:18] wsaca commented on #4358
@stiemannkj1 the fix was easy to apply, but not so quick to detect because the template is added as a dependency. Thanks for guiding me to the solution.

[2018-06-12 19:35] tandraschko commented on #4354
@BalusC / @arjantijms
Could you have a look at it? It seems quite annoying for users.

It may be related to the dynamic resource loading feature.
In the PF HeadRenderer, we get all resources and call #encodeAllon them, to render the script/style tag.
This worked fire in every Mojarra and MyFaces version but it seems that Mojarra 2.3 doesn't render the tags when you are in ajax request with update=

[2018-06-20 05:44] cnsgithub commented on #4370
As this might be a security risk, it should be addressed with higher priority. Just ignoring it again seems not to be the right solution.

Btw, you may have a look at owasp's solution to get an idea how to fix it: https://github.com/OWASP/owasp-java-encoder/blob/master/core/src/main/java/org/owasp/encoder/CDATAEncoder.java

[2018-06-22 03:53] caim2015 opened #4374 "By <h:outputText> the HTML tag is not displayed properly in JSF1.2+"
I am trying set the HTML tag in outputText, as following:

`<h:outputText` `value="<input` type='hidden' id='TestInclude7' name='RMSTKN' value='" escape="false"/><%=TestUtility.getJspToken(session,request)%><h:outputText value="'>" escape="false"/>

TestUtility.getJspToken returns a string "123456789".
### The test result：
JSF1.1
`<input` type='hidden' id='TestInclude7' name='RMSTKN' value='123456

[2018-06-26 21:18] stephanrauh commented on #4367
IMHO, that looks like a bug that can easily solved. Converting the `for` look like so should do the trick:

[code]

Mind you: the type system of Java allows you to use primitive types the same way it allows you to use ordinary objects, pretending primitive type have a type. Of course, that's only a thin layer. It shows when accessing the super class. Usually, it's `java.lang.Object`, but in the ca

[2018-06-28 05:29] caim2015 commented on #4374
Hi,
 What do you think of this bug?
 Do you hava a try with the provided reproducer?
 Looking forward to your reply.

[2018-06-30 09:32] JensPiegsa commented on #4367
This also effects 2.3.5.SP1 shipped with WildFly 13.0.0.Final.

[2018-07-07 19:53] Quix0r commented on #1205
Facing the same here now. Very hard to use for debugging!

[2018-07-07 19:54] Quix0r commented on #1205
I mean I have an id set but still no explanatory text.

[2018-07-07 20:01] Quix0r opened #4375 "UIComponentBase.validateId() thrown exception should be more explanatory"
Please see following excerpt from a [thrown exception](https://f.haeder.net/display/adbba6c6645b411dbe70ea5438862510) I currently try to fix but I'm confused where (JSF template/view) it origins from.

[code]
It would be nice to have some message being added to that exception, like: `Invalid id x/y$z` or so then I can directly see where that exception comes from (one of my templates, of course).

[2018-07-08 07:56] arjantijms commented on #4375
I agree, the messages should be clearer here.

I’ve encountered this multiple times myself as well.

On Saturday, July 7, 2018, Roland Häder <notifications@github.com> wrote:

[2018-07-11 07:24] robby-cornelissen opened #4376 "Threads blocking while accessing JSF Flash in a clustered environment"
I'm running a large Java EE 7 application on a two-node JBoss cluster which was recently upgraded from JBoss EAP 6 to JBoss EAP 7.0.4. Intermittently, the application runs into a problem where access becomes very slow, up to the point that the application becomes difficult to use. After a couple of minutes, the issue resolves itself automatically, and operation returns to normal.

Thread dump anal

[2018-07-15 18:22] prince-jn opened #4377 "View state still disappear with Ajax on JSF 2.3.5 (spec 790)"
Based on https://arjan-tijms.omnifaces.org/p/jsf-23.html "Updating multiple forms via AJAX", it should be possible to update multiple form at the same time.

It only work if you specify the form on the render attribute (f:ajax).
If I add the form on the server side, the form doesn't get the new view state.

``FacesContext.getCurrentInstance().getPartialViewContext().getRenderIds().add("form");``

[2018-07-18 09:01] orangetw commented on #4364
This is fixed in Mojarra 2.3.5, with patch https://github.com/eclipse-ee4j/mojarra/commit/1b434748d9239f42eae8aa7d37d7a0930c061e24

[code]

[2018-07-18 09:01] #4364 closed

[2018-07-23 22:44] melloware opened #4378 "ViewMetadataImpl.java restores processing events too early"
Based on this stack overflow post and answer by BalusC it was recommended to create a bug ticket here.  https://stackoverflow.com/questions/51382976/omnifaces-loading-unloading-viewscopedbean

[2018-07-26 09:40] martin654 commented on #4367
This problem bothers me too

[2018-07-26 10:12] spyrkob opened #4379 "NPE in ELFlash.get() on first request"
ELFlash.get throws NPE in clustered apps when trying to access flash scope on first request.

**Reproducer:** [test.tar.gz](https://github.com/javaserverfaces/mojarra/files/2231491/test.tar.gz)

**Steps to reproduce:**
1. Unzip & deploy attached app
2. curl -i http://localhost:8080/test/getvar.xhtml

**Result:**
`26-Jul-2018 11:06:59.383 SEVERE [http-nio-8080-exec-13] com.sun.faces.application.vie

[2018-07-29 11:42] mmeany commented on #4308
I see the ticket is still open and I arrived here first with my search so wanted to point to the solution that is working for me on Wildfly 13 and Payara5.182 comes from the solution here: https://stackoverflow.com/questions/45682309/changing-faces-config-xml-from-2-2-to-2-3-causes-javax-el-propertynotfoundexcept,

[2018-07-29 13:49] ghost commented on #4308
Putting bean-discovery-mode="all" in beans.xml makes all Java classes of the project automatically processable by CDI (more memory!). I do not want this, this is just another work around. If I put it on "annotated" it is still not working... It must work also with "annotated", that is the whole point of JSF artifacts being injectable ;-)

[2018-08-07 13:06] henrikplate commented on #4364
I downloaded org.glassfish:javax.faces:2.3.5 and 2.3.6 from Maven Central, and they both contain a version of com.sun.faces.application.resource.ResourceManager.getLocalePrefix(FacesContext) that does not check for forbidden sequences in localePrefix. Can you confirm that those version are indeed fixed?

[2018-08-13 16:43] Quix0r commented on #4375
Any news here? I would really appreciate if this issue is quickly solved (and no big change, for sure). Maybe I can find some time to do it myself but no promise here.

[2018-08-24 01:07] ronelm2000 opened #4381 "WebSocketSessionManager.send(String,Object) should use JSON-B (JSR-367)"
Please replace:
[code]
with:
[code]

com.sun.faces.util.Json.encode only contains the bare minimum for my functional requirements. Json.encode doesn't utilize custom annotations to stop bidirectional loops nor defining custom json (it already loops on a typical Enum class). In my case particularly, I'd like to either implement Yasson or make my own GSON/Jackson wrapper.

[2018-08-26 20:31] henrikplate commented on #4364
The fix implemented with eclipse-ee4j/mojarra@1b43474 modifies a branch condition in method com.sun.faces.application.resource.ResourceManager.getLocalePrefix(FacesContext). Data that seemingly comes from an Http request is checked for forbidden character sequences.

I had a look at the byte code of both versions 2.3.5 and 2.3.6, as available in Maven Central, and they do not include the above-men

[2018-09-21 16:43] lmahadevan commented on #4367
I am seeing this issue in Wildfly 14 also. Where and how can I apply the fix mentioned above.

[2018-10-05 12:59] abelet opened #4382 "Error prone JSF implementation causes broken AJAX communication"
## Maven project demonstrating the problem ##
[jsf-ajax-failure.zip](https://github.com/javaserverfaces/mojarra/files/2450331/jsf-ajax-failure.zip)

## Description of the implementation that causes trouble ##

The com.sun.faces.renderkit.html_basic.HtmlResponseWriter provides a functionality for renaming HTML tag names generated by JSF Components. With this implementation the following JSF code:

[2018-10-05 13:05] arjantijms commented on #4382
Thanks for the example and extensive writeup.

I haven't studied your case fully, but in general it's a difficult balance between trying to be accommodating to small mistakes in components, and having somewhat clean and straightforward code.

[2018-10-05 13:06] arjantijms commented on #4382
P.s the new tracker is located at https://github.com/eclipse-ee4j/mojarra/issues

This tracker is almost by accident still open, but should be closed soon.

[2018-10-05 13:10] abelet commented on #4382
Should I post this there?

[2018-10-05 13:12] arjantijms commented on #4382
@abelet Yes please. Most issues have already been migrated from this tracker to the new one.

Thanks in advance!

[2018-10-05 13:12] #4382 closed, assigned to nobody

[2018-10-08 13:57] marcodelpercio commented on #4370
This is quite critical for us as well. Several composite components and PrimeFaces components have CDATA sections with scripts and when such components are being re-rendered due to an ajax partial update everything breaks.
We are on **Mojarra 2.3.5.SP2** which comes with the very latest WildFly 14.0.1

[2018-10-10 02:01] micRo-wlY opened #4383 "In the JSF application, when "reset" or "button" (except "submit") is specified in the "type" attribute of the <h:commandButton> tag, "submit" processing is executed."
In the HTML style, when the reset button and the generic button (press the click/enter key) are executed, the submit processing is not executed.
However, in the JSF mounting of glassfish, if the above conditions are met, the submit processing will be executed when the reset button and the button (press the click/enter key) are executed.

Specifically, when the following conditions are met.

●Condi

[2018-10-16 15:33] codylerum commented on #4367
Created issue at ee4j https://github.com/eclipse-ee4j/mojarra/issues/4500

[2018-10-30 17:35] jacekzwroclawia opened #4384 "NPE in FlowCDIContext while using Spring Web Flow"
From version 2.2.12 up to latest maven version 2.2.18  (on 2.2.11 everything works fine) I get NullPointerException in the class: https://github.com/javaserverfaces/mojarra/blob/master/impl/src/main/java/com/sun/faces/flow/FlowCDIContext.java

There is a part:
[code]

From version 2.2.12 the line
`int currentFlowDepth = FlowHandlerImpl.getFlowStack(facesContext).getCurrentFlowDepth();`
was added.

[2018-11-02 08:36] zso-cti opened #4385 "test"

[2018-11-02 08:37] #4385 closed, assigned to nobody

[2018-11-02 09:44] erdbeerschnitzel opened #4386 "ELFlash sometimes throws ArrayIndexOutOfBoundsException if cookie contains invalid values"
JSF-Version 2.2.18

The Flash cookie ("csfcfc") with value '7aXBAow%3D' can result in:

[code]

I guess the problem is in the method

`private PreviousNextFlashInfoManager getCurrentFlashManager(FacesContext context, Map<Object, Object> contextMap, Cookie cookie)`

because only InvalidKeyException is caught there.

[2018-11-07 13:44] User20181107 opened #4387 "DateTimeConverter sets TimeZone only for Dates, not for DateTimes"
javax.faces.convert.DateTimeConverter.FormatWrapper.setTimeZone(TimeZone) sets TimeZone only for the DateFormat df, not for the DateTimeFormat dtf. Copying the class locally and changing the method to read:
[code]
... gives us the expected behaviour - we see datetimes output by the converter in the specified timezone.

[2018-11-14 08:33] ren-zhijun-oracle commented on #4387
please file the issue in https://github.com/eclipse-ee4j/mojarra/issues

[2018-11-14 23:08] #4387 closed, assigned to nobody

[2018-11-16 01:09] jacekzwroclawia commented on #4384
Problem solved. In our application we use Spring Web Flow flowScope variables. Variables were defined in the spring flow xml, and then we were using them in *.xhtml like `flowScope.[nameOfVariable]`. It works with JSF 2.1 and also with JSF 2.2.12, but from 2.2.13 there were NPE. I removed the `flowScope.` prefix and leave only `[variableName]` . Now everything works and Spring Web Flow flowScope v

[2018-11-16 01:09] #4384 closed, assigned to nobody

[2018-11-16 13:20] jacekzwroclawia commented on #4358
After commits connected with this issue there is problems with `<p:commandButton />` (tested on Primeface 4.0, but I think it is conneted with all versions).
`<p:commandButton update=".." />` generates Ajax request that is handled as a **partial** request, so inside method `RenderKitImpl::createResponseWriter` we get `contentType="text/html"` instead of `contentType="application/xhtml+xml"` as it

[2018-11-19 23:32] stiemannkj1 opened #4388 "Scripts with CDATA cause "empty response" error on Ajax render"
Steps to reproduce:

1. Create a view with the following `f:form`:

[code]

2. Navigate to the view.
3. Click the *rerender CDATA script container* button.

If the bug is fixed the *script loaded* alert will appear.

If the bug still exists the browser will display an error message similar to the following:

[2018-11-19 23:33] stiemannkj1 commented on #4388
This issue did not exist for Mojarra `2.2.16`. It is a regression in `2.2.17` caused by the fix for #4358.

[2018-11-19 23:35] stiemannkj1 commented on #4358
@jacekzwroclawia, I've opened #4388 to track this issue.

[2018-11-20 00:34] stiemannkj1 commented on #4388
Fixed by reverting the incomplete fix for #4358.

[2018-11-20 00:34] #4388 closed, assigned to stiemannkj1

[2018-11-20 00:36] stiemannkj1 commented on #4358
I've reverted the commits that fix this issue since they caused so many issues, but that will cause the original issue to reappear. So if anyone wants to fix it in the future, here are the commits that fix #4358:

* https://github.com/javaserverfaces/mojarra/commit/8a5a562e129a31f3655de86cfeb79c33d3eaa1f8
* https://github.com/javaserverfaces/mojarra/commit/ee3671db95986395e3a40a591c52522421b25bf2

[2018-11-20 01:24] wsaca commented on #4358
I don't have any problem with JSF 2.3, what version will this change be released?

[2018-11-20 01:31] stiemannkj1 commented on #4358
@wsaca, the change that caused regressions was only introduced int `2.2.17` so it only exists in `2.2.17` and `2.2.18`. The change was never applied to `2.3.x`, so no issues exist there.

[2018-11-20 15:01] melloware commented on #4388
@stiemannkj1 hasn't this project been migrated to eclipse-ee?  Is this project still active because i am confused where to look for Mojarra issues.

[2018-11-20 15:08] stiemannkj1 commented on #4388
@melloware, as far as I know this project is still receiving updates from Oracle for `2.2.x`, `2.1.x`, and `1.2.x` versions. Mainly Oracle has just been fixing security vulnerabilities. I think `2.3.x` is completely under the Jakarta EE name now though. But I have no inside knowledge about Oracle. This is only what I've gleaned from the commits that this project has received. Anyway, since this bu

[2018-11-20 15:09] melloware commented on #4388
Thanks!   This transition from Oracle to Eclipse I don't think will end up being very smooth.

[2018-11-21 10:57] cnsgithub commented on #4370
Please follow https://github.com/eclipse-ee4j/mojarra/issues/4392 at EE4J since mojarra has moved there.

[2018-11-23 13:32] claudioweiler commented on #4354
@BalusC
I'm upgrading my app to Wildfly 15 (Mojarra 2.3.5.SP2 + Primefaces 6.2 + Omnifaces 3.2). A minimal diference to Omnifaces ShowCase is Mojarra 2.3.5.SP1 (Wildfly 13).

I'm using FullAjaxExceptionHandler and getting mentioned error when handling ajax exceptions. Could this be related?

[code]

[code]

[code]

[2018-11-23 13:42] tandraschko commented on #4354
should be the same bug, yes

[2018-11-28 02:03] djmj opened #4389 "ElSupport.coerceToType(...) add support for target type java.lang.Class"
ELSupport.coerceToType lacks support for class runtime type conversion.

I tried to pass a class instance to a converter attribute but failed due to:

java.lang.IllegalArgumentException: Cannot convert java.util.Date of type class java.lang.String to class java.lang.Class
	at com.sun.el.lang.ELSupport.coerceToType(ELSupport.java:428)

**Markup:**

	<o:converter converterId="RangeConverter" type="j

[2018-11-28 20:40] claudioweiler commented on #4354
As @tandraschko said, Mojarra is not rendering all the resources during an ajax request with update=\@ALL.

@BalusC
One possible hack (in OmniFaces) so that the FullAjaxExceptionHandler works again:
Edit the method `Hacks.removeResourceDependencyState` (used by FullAjaxExceptionHandler), clearing JSF's processed resource dependencies:

    context.getAttributes().keySet().remove(javax.faces.applic

[2018-11-28 20:57] tandraschko commented on #4354
I, personally, think that update=@all should also replace the whole head content.
update=@all is used to replace the whole view (including title e.g.). The flickering is expected as the head content is replaced - also @all should only be used for special cases like FullAjaxExceptionHandler.

Maybe the PF behavior is not perfect, but the JSF behavior also is not perfect.
We replace the content sinc

[2018-12-06 07:36] micRo-wlY commented on #4383
Is there anyone who can respond as quickly as possible, thanks very much. :)

[2018-12-06 13:46] ghost commented on #4308
After some time I come back to working with JSF 2.3 again. Injection made possible by Apache DeltaSpike seems to work again, at least it works in this converter:

[code]

Unfortunately with 'managed=true' the attribute 'pattern' is no longer set.

Is there anything against using the converters without managed=true and relying on the injection made possible by deltaspike?

I'm using:
javax.faces 2.

[2018-12-07 13:22] fanste opened #4390 "UIRepeat wrong state restored for UIInput"
Its the same issue as #4206 - it still exists in the mojarra 2.2.18 release. I currently cannot test the 2.3.x versions. I'm using the wildfly 10.1 application server.

This really simplified example without AJAX triggers the behavior.
[code]

 - insert something into the last field
 - click the button, validation fails
 - click the button again, validation fails and value is visible in ALL fields

[2018-12-21 20:43] andrewscode commented on #4366
Just ran into this bug.  A simple produces class:

`public class Producers
{

    @Produces
    @ViewScoped
    @Named( "stringList" )
    public List<String> producesStrings()
    {
        List<String> list = new ArrayList<>();
        list.add( "testString" );
        return list;
    }

    @Produces
    @ViewScoped
    @Named( "integerList" )
    public List<Integer> producesInteger()
    {

[2018-12-25 05:49] micRo-wlY commented on #4383
Is there anyone who can respond as quickly as possible, thanks very much. :)

[2018-12-26 09:56] micRo-wlY commented on #4383
[testjsf.zip](https://github.com/javaserverfaces/mojarra/files/2709986/testjsf.zip)
I made a test app that contains the above conditions. Does anyone respond and suggest a correction.

[2018-12-27 10:27] vpnjain1991 opened #4391 "Integrating jspx with facelet"
I'm using jspx as view technology in JSF application.As JSF 2.2 is uses Facelet as default View Technology. So I have specified javax.faces.FACELETS_VIEW_MAPPINGS in web.xml.

web.xml

`<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:sche

[2019-01-07 15:09] larslorenzen opened #4392 "Facelet metadata is not cached properly when contracts are used."
Hi, We see a lot of contention on class.forName when using JSF with 2 resource library contracts.
It seems that the problem results from the composite component metadata not being cached correctly.
DefaultFaceletFactory.needsToBeRefreshed always returns false because the facelets are cached in cachePerContract.
This method is called from FaceletViewHandlingStrategy.getComponentMetadata.

Environme

[2019-01-08 18:59] fcaputo commented on #4392
The fix might be easy with the following patch:

`Index: impl/src/main/java/com/sun/faces/application/view/FaceletViewHandlingStrategy.java
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- impl/src/main/java/com/sun/faces/application/view/FaceletViewHandlingStrategy.java	(revision 2ba2a3

[2019-01-24 10:29] erickdeoliveiraleal commented on #4392
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-01-24 10:29] erickdeoliveiraleal commented on #4391
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-01-24 10:29] erickdeoliveiraleal commented on #4383
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-01-24 10:30] erickdeoliveiraleal commented on #4390
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-01-30 06:11] micRo-wlY commented on #4383
The issue is moved to: https://github.com/eclipse-ee4j/mojarra/issues/4536

[2019-01-31 08:41] Toru47 opened #4393 "Issues with ui:repeat and custom validator – on validation error values aren’t restored (2.3.2)"
I have a simple class Test with two members val1 and val2 that is managed as a list by TestBean. The list contains on initialization one item of Test. Moreover there’s a custom validator that throws an ValidatorException by default. In the view that validator is bound to the val2 input.
I type “123” into input for val1 and submit the form. As a result the value of input for val1 is deleted and not

[2019-02-01 15:46] jacekzwroclawia commented on #4358
@stiemannkj1 so when there will be new release of 2.2 version with reverted commits?

[2019-02-01 16:00] stiemannkj1 commented on #4358
@jacekzwroclawia, that's up to Oracle.

cc @ren-zhijun-oracle, @ruolli, @xinyuan-zhang, @edburns, @manfredriem

[2019-02-05 10:57] erickdeoliveiraleal commented on #4393
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-02-05 16:25] Toru47 commented on #4393
Thx.

[2019-02-05 16:32] #4393 closed, assigned to nobody

[2019-02-10 19:42] hrsto opened #4394 "Resource bundle always null"
https://github.com/javaserverfaces/mojarra/blob/bbac72aabda02f7e605d05f71da0be2fd0814ce7/impl/src/main/java/javax/faces/component/UIComponent.java#L2688

EE8, JSF 2.3, on Wildfly 15.

From a custom renderer of a custom component, this code:

[code]

I would get a valid resource bundle with the expected keys and values, as i've set it up.

But if i call `c.getResourceBundleMap();` - it will always

[2019-02-19 17:20] erickdeoliveiraleal commented on #4394
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-02-19 17:21] rodrigo-troy commented on #4394
Thanks!

Sent from my Apple Watch

On Feb 19, 2019, at 14:20, Erick de Oliveira Leal <notifications@github.com> wrote:

[2019-02-28 13:46] nalmeida84 commented on #4386
Same problem, solved clearing the cookies. Thanks for your post!

[2019-03-07 16:51] smalltox opened #4395 "Unable to save dynamic action with clientid"
Hi,

I've an heavy dynamic application in JSF 2.2 running on Wildfly 12.0 (single page web app) it's currently migrated from Jboss AS 7.0 .
I encounter a lot of messages : unable to save dynamic action with clientid.
It seems after debugging that the problem is coming from the class : StateContext method handleAddRemoveWithAutoPrune.

In my case ; struct.action = 'REMOVE' and firstIndex = -1 so it

[2019-03-11 09:55] smalltox commented on #4395
To illustrate the error :

When you click on the button, outputText is removed (No error Message). The second time you click on the button you have the error : unable to save dynamic action with clientid.

[code]

[code]

[2019-03-12 00:58] erickdeoliveiraleal commented on #4395
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-03-28 08:11] ruolli commented on #4358
@stiemannkj1
Hi, Kyle,

I just noticed you ever submitted the fix for #4358 to branch : "MOJARRA_2_3X_ROLLING" in repository: "https://github.com/javaserverfaces/mojarra.git" .
Would you help revert the fix from "MOJARRA_2_3X_ROLLING" as you did for "MOJARRA_2_2X_ROLLING" ?

Thanks.
Ruolin

[2019-03-28 14:02] stiemannkj1 commented on #4358
@ruolli, I just reverted the commits from `MOJARRA_2_3X_ROLLING`.

[2019-03-28 14:05] ruolli commented on #4358
@stiemannkj1
Thanks a lot, Kyle.

[2019-03-28 14:42] pzygielo commented on #4358
Do I understand it correctly?
1. 2.3+ will not be published from this repository/by Donor, but rather by Donee, and changes pushed to [MOJARRA_2_3X_ROLLING](https://github.com/javaserverfaces/mojarra/tree/MOJARRA_2_3X_ROLLING)/[master](https://github.com/javaserverfaces/mojarra) - if not ported - will not be visible for Clients of Mojarra 2.3.9+
2. #4359 wasn't merged to master and thus fix was al

[2019-03-28 15:05] ruolli commented on #4358
@pzygielo
1 ...
Yes, 2.3+ would be released from "github.com/eclipse-ee4j/mojarra" , instead of from this repository : "github.com/javaserverfaces/mojarra" .
Meanwhile, legacy releases, including 2.3, would be released from here.
Generally speaking, they are separate repositories, consequently, porting is necessary for certain fix to be merged from one to the other.

2...
Seemingly, there was no s

[2019-03-28 15:17] pzygielo commented on #4358
Still not 100% clear for me...

Eclipse released [2.3.9](https://github.com/eclipse-ee4j/mojarra/releases/tag/2.3.9-RELEASE), by 2.3+ *I* meant *ANY* future 2.3 release. Shall it be 2.3.9+?

Do you - by _legacy releases including 2.3_ mean (for 2.3) patched 2.3.8 like 2.3.8-1 or something like that?

[2019-03-28 15:32] ruolli commented on #4358
@pzygielo

By saying 2.3+, I actually meant Mojarra 2.4 or Mojarra 3.0 in future.
Those releases would be released from "github.com/eclipse-ee4j/mojarra" .
And, the artifact would be renamed to jakarta.faces , instead of javax.faces .

As to 2.3.* , they are maintained in "github.com/javaserverfaces/mojarra" "MOJARRA_2_3X_ROLLING" . And, 2.3.9 , 2.3.10 ... would be released from here.

Thanks.
Ruo

[2019-03-28 16:37] pzygielo commented on #4358
Thanks for your clarifications, @ruolli
(I'm aware of groupId/artifactId renames, thank you.)

[2019-03-29 14:39] manfredriem commented on #4358
@pzygielo @ruolli @arjantijms

As far as I understand it (please confirm Arjan)

Oracle Mojarra supported releases will be coming from the github.com/javaserverfaces/mojarra for 2.3 and earlier.

Eclipse Mojarra supported and branded releases will be coming from github.com/eclipse-ee4j/mojarra for 2.3 and later

[2019-04-02 20:00] trinidadmarcelo commented on #4370
Hi @marcodelpercio,

I have the same problem with Wildfly 14 that implements jsf 2.3.5, have you found a solution?

Thanks

[2019-04-03 04:15] cnsgithub commented on #4370
@trinidadmarcelo Would it be an option to replace the JSF implementation in WildFly modules with MyFaces? Things seem to get fixed faster there... And it does not suffer from this issue at all.

[2019-04-03 07:03] marcodelpercio commented on #4370
@trinidadmarcelo
I do actually have a workaround. It's a simple WebFilter which intercepts CDATA comments inside AJAX requests/partial requests and replaces the wrong cdata comment with a working one.

It's a bit sad that this issue hasn't been fixed in the last 5 months. I am still hoping for an official solution from the Mojarra team.

@cnsgithub Have you actually tried going MyFaces in WildFly?

[2019-04-03 07:11] cnsgithub commented on #4370
Not yet, sorry. Thanks for sharing your workaround with the community.

[2019-04-03 15:08] trinidadmarcelo commented on #4370
I have replaced with the jsf impl 2.3.2 inside modules of Wildfly 14, the jsf spec also must be replaced and it works, the problem is since jsf impl 2.3.5 that implements since Wildfly 14

[2019-04-03 15:25] trinidadmarcelo commented on #4370
@marcodelpercio as a quick solution using Wildfly 14 with no modifications in his jsf modules, I replaced all javascript CDATA with the XHTML escape codes, hope Mojarra team fix it asap.

[2019-04-03 21:06] erickdeoliveiraleal commented on #4370
I installed MyFaces sucessfully, using multi-jsf-installer bundled in wildfly sources. But it just create the folder if using linux, I did it and after I could use on Windows. I did it with version 16. I attached the zip here (it contains mojarra 2.2.16 and myfaces 2.3.3 as modules) , you just extract it in modules root folder. And in standalone.xml you modify the line of jsf this way `<subsystem

[2019-04-06 08:36] abelet commented on #4370
It is quite similar to https://github.com/eclipse-ee4j/mojarra/issues/4488.  Unfortunately mojarra not just buggy, but after examining the implementation, the code quality seems to be very poor also.

[2019-04-08 02:51] caim2015 opened #4396 "WELD-000321: No conversation found to restore for id 1"
I am hitting the following error when the http session is timeout and ViewExpiredException happen and dispatch to the errorpage in GF4 or GF5.
[jsfConversationNone.zip](https://github.com/javaserverfaces/mojarra/files/3052440/jsfConversationNone.zip)

org.jboss.weld.context.NonexistentConversationException: WELD-000321: No conversation found to restore for id 1
    at org.jboss.weld.context.Abstra

[2019-04-09 14:15] erickdeoliveiraleal commented on #4396
mojarra issue tracker moved to: https://github.com/eclipse-ee4j/mojarra

[2019-04-21 17:43] alibttb commented on #4308
Using Wildfly 16 jsf version 2.3.9.SP01 I have the same issue.

[2019-04-21 18:40] alibttb commented on #4308
This only works if you have beans.xml configured with `bean-discovery-mode="all"`  and `ConfigBean` annotated with
[code]

This is not how it should work, injection should happen by convention not by configuration.

[2019-04-23 20:14] stiemannkj1 opened #4397 "Release 2.2.19"
I'm requesting a release of `2.2.19` with the fix for "Bug 28978718 - HIGH-LEVEL VULNERABILITY WITHIN ORACLE MOJARRA JSF V2.2": https://github.com/javaserverfaces/mojarra/commit/6b8f467ac96c862364dff97655a8e4cea4ad3ec8. `2.3.9` and `2.2.8-32` appear to already have been released with this fix. There are also other fixes for regressions that would be useful in this release.

@ruolli, @ren-zhijun-or

[2019-04-25 16:12] ruolli commented on #4397
Mojarra javax.faces.:2.2.19 released:
https://maven.java.net/content/repositories/releases/org/glassfish/javax.faces/2.2.19/

[2019-04-25 16:12] #4397 closed, assigned to edburns, javaserverfaces, ruolli, ren-zhijun-oracle

[2019-04-29 12:06] matinh opened #4398 "Lost component value after validation failure with multiple forms"
I reported [PrimeFaces issue #4765](https://github.com/primefaces/primefaces/issues/4756), which turned out to happen only with Mojarra and not with MyFaces. So PrimeFaces guys asked me to report the issue at Mojarra, what is what I'm doing now.

All details, including a complete reproducer, can be found at the specified PrimeFaces issue.

[2019-04-29 12:19] melloware commented on #4398
@matinh I think they will want you to copy the complete details here including the reproducer.

[2019-04-29 12:24] matinh commented on #4398
Hi @melloware! And thank's for your help.

Well, every information (including the reproducer) is just a click away. If I really have to copy all infos here, some of the Mojarra guys should please let me know, what exactly they need. And I'll try to provide the required information.

[2019-04-29 12:29] NicolaIsotta commented on #4398
@matinh
This is the old mojarra repository, you can find the new one here: https://github.com/eclipse-ee4j/mojarra

[2019-04-29 12:36] matinh commented on #4398
Thanks @NicolaIsotta! I created another issue at the new repo: https://github.com/eclipse-ee4j/mojarra/issues/4562

[2019-05-14 08:53] DennisBayer commented on #4368
I also can confirm this behavior for ```[org.jboss.as] WFLYSRV0049: JBoss EAP 7.2.0.GA (WildFly Core 6.0.11.Final-redhat-00001)```.

@BalusC I noticed you did the majority for the push integration. Do you have any clues on this?

Regards

[2019-05-15 19:43] SirError commented on #4368
I guess it's better to post this issue on the new Mojarra github:
https://github.com/eclipse-ee4j/mojarra

[2019-05-16 08:29] DennisBayer commented on #4368
I created a cross post in the new repository: https://github.com/eclipse-ee4j/mojarra/issues/4572

[2019-05-20 15:29] HowardUngar opened #4399 "form loosing attribute after submit"
The form tag is loosing attributes after the form is submitted.  In particular we have the following in our jsf source to disable the enter key:

`<h:form onkeydown="if (event.keyCode === 13) { return false; }">`

When the form initially renders the browser shows the onkeydown attribute.  However, after the form is submitted, the onkeydown attribute is no longer shown in the browser.

The submit b

[2019-05-24 13:36] MMetz-OV opened #4400 "Option to have VIEW_LOCATION_KEY also in production stage"
Hello,

I am currently working with Mojarra 2.3.5 within Wildfly 14.
I would need the UIComponent.VIEW_LOCATION_KEY meta data which are available in development stage also in the production stage, so that I can access this meta data for localization issues also in this stage.

In fact, within ComponentTagHandlerDelegateImpl.java within the method doNewComponentActions() there is an "if" statement,

[2019-05-28 05:30] mohdGitHub commented on #4305
I have the same issue here but I can't confirm if using of Primefaces 7.0 and Mojarra .2.3.9 is considered two Mojarra implementations. @Push doesn't work and the same error has been shown.

I executed mvn dependency:tree and I can confirm the below lines that contain faces

[INFO] +- org.primefaces:primefaces:jar:7.0:compile
[INFO] +- org.glassfish:javax.faces:jar:2.3.9:compile
[INFO] +- javax.fa

[2019-06-11 00:25] BalusC commented on #4305
Your build is corrupted.

You should have only **one** JSF API, not two.
Hence, the answer in my previous comment still holds true.

[2019-07-22 18:40] demanzano opened #4402 "ArrayIndexOutOfBoundsException in flash context ?"
Hi!

I'm using JSF Mojarra 2.3.9.SP01 (integrated in Wildfly 16.0.0) and since yesterday I'm having many of these messages in WF log:

`arraycopy: last source index 16 out of bounds for byte[15]: java.lang.ArrayIndexOutOfBoundsException: arraycopy: last source index 16 out of bounds for byte[15]
         at java.base/java.lang.System.arraycopy(Native Method)
         at com.sun.jsf-impl@2.3.9.SP01

[2019-08-04 13:23] arjantijms commented on #4388
Understatement of the year, but indeed, it hasn't been smooth at all. In the larger scheme of things that has pushed back everything at least 2 years, but we're working hard and everyone from both Oracle and Eclipse are really helpful.

[2019-08-14 07:39] dmatej opened #4403 "Backport to 2.2.x the fix for Payara-2506 (ViewScope)"
See https://github.com/payara/Payara/issues/2506

[2019-10-24 11:58] mmariotti opened #4405 "ExternalContext.redirect() for AJAX creates a new HttpSession and may throw a ClassCastException/NullPointerException"
Hello,

this problem has been discussed on [StackOverflow](https://stackoverflow.com/questions/58537251/jsf-mojarra-externalcontext-redirect-creates-a-httpsession)

the code of `redirect()`:

    @Override
    public void redirect(String requestURI) throws IOException {

        FacesContext ctx = FacesContext.getCurrentInstance();
        doLastPhaseActions(ctx, true);

        if (ctx.getPartial

[2019-11-05 16:04] dantahoua opened #4406 "JavaServer Faces logo"
Hello, not really an issue but I need the offiicial logo of JavaServer Faces in vector format (svg or ai). I'm unable to find it anywhere...
Any insight?
Thanks.

[2019-11-12 06:49] DarthKD opened #4407 "Stuck thread at popComponentFromEL(UIComponent.java:2084) causing high cpu usage"
Getting high CPU usage due to Multiple stuck threads at UIComponent.popComponentFromEL (UIComponent.java:2084)

Every thread refers to same line number in UIComponent.java at line 2084. Here is the snippet of thread dump.

[code]

I tried the solution provided in below answer but there are many pages in which we have implemented component binding and it is not possible to change scope of every pag

[2019-11-12 06:54] DarthKD commented on #4407
As per JSF form/GitHub issue tracker suggestion also add SERIALIZE_SERVER_STATE parameter in web.xml

[code]

Also, try to change JSF version 2.2 still issue is persists

Environment :

1. JSF 2.3
2. Java 8
3. Primefaces 6.1
4. Tomcat 8.5

[2019-11-24 05:01] cletecillc opened #4408 "Ajax listener doesn't work when using h:selectOneRadio with group attribute"
When using `h:selectOneRadio` with `group` attribute and <f:ajax listener="...."/>, the listener method isn't called. Ex:
[code]
The method `bean.method` is never called.

[2019-11-24 05:12] cletecillc opened #4409 "styleClass is ignored in h:selectOneRadio when using group attribute"
When using the `group` attribute in `h:selectOneRadio`, the styleClass attribute is ignored. Ex:
[code]

The output is:
[code]

The styleClass is ignored. The workaround is to use the `passthrough` feature. Ex:
[code]

[2019-12-12 13:07] leandrohsilveira commented on #4402
Same here.
WildFly 17.0.1 with Mojarra 2.3.9.SP02.

PrimeFaces 6.2, OmniFaces 3.2 and PrettyFaces 3.4.1.Final.

[2020-01-20 16:08] Raqueta opened #4411 "No escaping when <f:Selectitems> is used with a Map"
If its `values` attributed is backed by a Map, `<f:selectItems>` ignores all other attributes, including `itemLabelEscaped`. Even worse, in this case the `itemLabelEscaped` attribute does not default to `true`, as specified [here](https://docs.oracle.com/javaee/7/javaserver-faces-2-2/vdldocs-facelets/f/selectItems.html), but to `false`. Therefore the whole items list gets rendered without any esca

[2020-01-23 13:26] chrjohn commented on #4402
Isn't this the same as #4386 ? Seems to be related to invalid cookie data.

[2020-02-21 02:02] voorsboy commented on #4376
I hate to bump an issue that has been open for so long, but I wanted to add that we've been facing the same issue with Tomcat 7/8. The affected environments are 2-4 nodes using the built-in DeltaManager session replication.

[code]
The above block is causing nodes to become unresponsive to users routinely (every few days). We're not really sure how to approach the issue given we also require synch

[2020-02-27 19:50] michael-knapp-j4care opened #4413 "f:websocket problems in mixed secure/unsecure environment (ssl proxy with unsecure server)"
I have following setup at a customer site: I have a website using primefaces 7.0 and JSF 2.3
The browser is communicating via https with some proxy, but proxy is communicating via unsecure http with the actual application server (wildfly 18,  JSF 2.3.9-SP04 )

Since the server is assuming an unsecure connection it generates  a ws://  url at startup for the websocket code ( in com.sun.faces.context

[2020-04-10 07:45] caim2015 opened #4414 "Ajax encoding problem caused by server provide a different type of encoding such as Windows-31j instead of UTF-8"
In my JSF Facelets application f:ajax is uesed,but error codes happend with japanese characters.
It is easily reproducible.
Here is the reproducer(demoapp).
[demoapp.zip](https://github.com/javaserverfaces/mojarra/files/4460440/demoapp.zip)

1.index.xhtml
`<h:form id="form1">
	<h:commandButton value="go to homePage" action="home.xhtml" />
</h:form>`

2.home.xhtml
`
<h:form>
    <h:inputText id = "

[2020-04-28 17:16] maulikjn commented on #2621
Was this issue ever fixed? Can someone please suggest the solution to this behavior?

[2020-05-08 06:52] caim2015 commented on #4414
I think the "submit" request's charset should not be affected by the Ajax encoding "charset=UTF-8" .
Who can give me some thoughts?

[2020-05-22 11:19] naveensangarsu commented on #4126
I have the same issue, validate method is calling multiple times, is there any solution/hack for this ?? kindly respond to me if any one found the solution for this.

public void validateField(FacesContext context, UIComponent comp, Object value){
// first time when i submit the page, this method calling twice and when i give some wrong value and try to submit again this method is calling three ti

[2020-05-26 10:05] BalusC commented on #4126
This usually happens when the `binding` attribute incorrectly references a bean which is not in the request scope. In other words, this usually only happens when the whole physical component tree is incorrectly saved in the HTTP session and shared across multiple HTTP requests. This is against the recommendations in JSF specification. See also https://stackoverflow.com/q/14911158/157882

[2020-05-28 10:06] bzurmaar opened #4419 "The first ajax call sets the view's parameters while subsequent ones do not."
As the issue's title already tells the first ajax call set's the view parameters while subsequent requests do not. The problem is easily reproducible. I'm using Wildfly 19.0 which includes Mojarra 2.3.9.SP06 in my test setup.

I have the following bean:
[code]
I also have simple .xhtml page which contains one button that fires an ajax request:
[code]
You can expose the bug now by opening https://l

[2020-05-29 19:14] bzurmaar commented on #4419
Moved to eclipse-ee4j/mojarra#4714.

[2020-05-29 19:14] #4419 closed, assigned to nobody

[2020-07-20 19:38] kukel commented on #4393
For reference: this is the issue in the new issuelist: https://github.com/eclipse-ee4j/mojarra/issues/4539

[2020-07-29 21:26] RanabirChakraborty commented on #4391
Any update on this issue? I'm still facing the same issue and I'm using wildfly 20 (Full Profile) application server

[2020-08-20 10:49] kguelzau commented on #4370
Since this is [fixed in the 2.3 branch](https://github.com/eclipse-ee4j/mojarra/issues/4392), could this be backported to 2.2?

[2020-09-02 18:00] OpenMessageCoder opened #4421 "UIRepeat skips last item when end is set and Ajax is used during visitTree"
When the 'end' attribute is set and Ajax is used, `UIRepeat` skips the last child during `visitTree`.

This appears to be due to this line is `visitChildren`:
[code]
that I think should be:
[code]
the same as in `process`.  `process` has additional logic to also look at offset and size.  It should probably be the same.

I'm a hobbyist, so don't have the skill to pull / build / correct / test.

Bac

[2020-09-18 11:59] wafa-ogh commented on #4326
Please, what is the tool used to analyze performance ? I'm facing the same issue on Mojarra 2.3.9.SP06
Using a phase listener, the RESTORE_VIEW phase has taken most of the request handling time

[2020-10-06 16:11] nokiajavi commented on #4305
Hi, I've been with this problem for a long time in my JSF 2.3 application. When I do maven:tree I only have JSF implementation of glassfish. Here I show all the faces that exist in the report:

[code]

When I was trying to start my application with the WebSocket configuration in the web.xml:
[code]

I always got the error commented by @mohdGitHub but today I finally found the problem and the solut

[2020-10-14 09:18] kguelzau commented on #4364
@orangetw / @javaserverfaces is it true that also the 2.2.x branch is affected by this vulnerability?
This seems to match _all_ versions below 2.3.7:
https://nvd.nist.gov/vuln/detail/CVE-2018-14371/cpes?expandCpeRanges=true

And I can't see that the 2.2.x is affected:
https://github.com/javaserverfaces/mojarra/blob/166d2173544b40dcfe5359d8ecbb5dda9cb53385/jsf-ri/src/main/java/com/sun/faces/applica

[2021-01-07 14:36] przemcio opened #4438 "Problem with state saving of dynamic components with/or without stateless view"
I have a problem with state saving of dynamic components. To get them working you need to do some equilibristic things and still some cases doesn't work. The behavior of the components **is not consist** when we take  into account transient states.  The incorrect behavior is reproducible on 2.2.20 (see attached application)

According to some test examples from mojarra source code. You can modify

[2021-01-15 17:08] javaserverfaces opened #4439 "Planned legacy Mojarra repository transfer"
Around Feb. 1, we plan to transfer this repository to the JavaEE Github organization (github.com/javaee). We will maintain a redirect repository in this current location. The new repository, for legacy review only, will be: github.com/javaee/mojarra.
Mojarra continues to evolve under Eclipse Foundation at https://github.com/eclipse-ee4j/mojarra. We welcome your contributions under the new project.

[2021-01-15 17:14] javaserverfaces commented on #4439
https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/transferring-a-repository

[2021-03-19 22:25] javaserverfaces commented on #4439
The repository is moved.

[2021-03-19 22:25] #4439 closed, assigned to edbratt